<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>孕产妇产后访视记录列表</title>
<link rel="stylesheet" type="text/css" id="css" href="<!--{$basePath}-->views/styles/admincp.css">
<link rel="stylesheet" type="text/css" id="css" href="<!--{$basePath}-->views/styles/tabs.css">
<link type="text/css" rel="stylesheet" href="<!--{$basePath}-->views/styles/vtip.css" />
<style>
	table
	{
		background:#ffffff;
	}
	.line
	{
		border-top:0px;
		border-left:0px;
		border-right:0px;
	}
</style>
<!--引入jquery-->
<script src="<!--{$basePath}-->views/js/jquery-1.4.2.js"></script>
<script src="<!--{$basePath}-->views/js/vtip.js" type="text/javascript"></script>
<script>
	function del(uuid,js_uuid)
	{
		if(confirm("确定要删除本条产后随访记录吗，本删除操作将无法恢复，是否继续？"))
		{
			 $.ajax({
                    type: "get",
                    url: "<!--{$basePath}-->maternal/postnatal/del/uuid/"+uuid,
                    dataType: "html",
                    data: "",
                    success: function(data){
                        if(data=="ok")
						{
							$("#"+js_uuid).hide();
							alert("删除记录成功");
						}
						else
						{
							alert("删除失败，未知的错误");
						}
                        return false;
                    },
                    error: function(){
                        alert("服务器返回信息不完整，请重新点击删除");
                        return false;
                    }
                });
		}
		return false;
	}
</script>
<script src="<!--{$basePath}-->views/js/search_list.js" type="text/javascript"></script>
<script>
$(document).ready(function(){
	$("#search_listpic").toggle(function(){do_search("<!--{$basePath}-->","postpartum_visit","产后随访","","");},function(){undo_search("<!--{$basePath}-->");});
});
</script>
</head>
<body>
<div id="search_list"></div>
<div class="Left_top" id="left_top"><img id="search_listpic" alt="" src="<!--{$basePath}-->images/search_list.gif" /></div>

	<table border="0" width="100%">
		<form action="<!--{$basePath}-->maternal/postnatal/list" id="search" method="POST">
			<tr><td>
				姓名<img title="“可以输入汉字也可以输入姓名拼音的首字母，比如要查找'王高兴',那么可以输入姓名的三个汉字中的任意一个，也可以输入‘wxm’几个字母进行搜索查找”" src="<!--{$basePath}-->images/comments.png" class="vtip" />：<input type="text" name="username" value="<!--{$search.username}-->" class="line" size="10">&nbsp;
				档案号<img title="“输入标准档案号里的全部或者部分数字”" src="<!--{$basePath}-->images/comments.png" class="vtip" />:<input type="text" name="standard_code" value="<!--{$search.standard_code}-->" class="line" size="10">&nbsp;
				身份证号<img title="“可以输入完整或者部分身份证号”" src="<!--{$basePath}-->images/comments.png" class="vtip" />:<input type="text" name="identity_number" value="<!--{$search.identity_number}-->" class="line" size="12">&nbsp;
				随访医生:<select name="staff_id" id="staff_id">
			<!--{section name=response_doctor loop=$response_doctor}-->
			<option value="<!--{$response_doctor[response_doctor].id}-->" <!--{$response_doctor[response_doctor].selected}--> ><!--{$response_doctor[response_doctor].zh_name}--></option>
			<!--{/section}-->
			</select>
		&nbsp;
				
				<input type="submit" value="搜索">
				
				</td>
			</tr>
			</form>
</table>	
<table border="0" width="100%">
	<thead>
    <tr class="headbg">
    	<th>
        	&nbsp;
        </th>
		<th>
        	姓名
        </th>
        <th>
        	本人电话
        </th>
		<th>
        	孕次
        </th>
		<th>
        	产次
        </th>
		<th>
        	末次月经时间
        </th>
		<th>
        	访视日期
        </th>
		<th>
        	医生
        </th>
		<th>
        	操作
        </th>
	</tr>
	</thead>
	<tbody id="ma">
	<!--{section name=prenatal loop=$prenatal}-->
	 <tr id="<!--{$prenatal[prenatal].js_uuid}-->">
	 	<td>
        	&nbsp;
        </td>
		<td>
        	<!--{$prenatal[prenatal].ssname}-->
        </td>
        <td>
        	<!--{$prenatal[prenatal].phone_number}-->
        </td>
		<td>
        	<!--{$prenatal[prenatal].prenatal_visit_first.gravidity}-->
        </td>
		<td>
        	<!--{$prenatal[prenatal].prenatal_visit_first.parity}-->
        </td>
		<td>
        	<!--{$prenatal[prenatal].prenatal_visit_first.last_menstrual}-->
        </td>
		<td>
        	<!--{$prenatal[prenatal].follow_time}-->
        </td>
		<td>
        	<!--{$prenatal[prenatal].staff_name}-->
        </td>
		<td>
        	<a href="<!--{$basePath}-->maternal/postnatal/edit/uuid/<!--{$prenatal[prenatal].uuid}-->">编辑/查看</a>
			&nbsp;|&nbsp;
			<a href="###" onclick="return del('<!--{$prenatal[prenatal].uuid}-->','<!--{$prenatal[prenatal].js_uuid}-->')">删除</a>
        </td>
	</tr>
	<!--{sectionelse}-->
	<tr>
		<td colspan="8">
        	暂时没有符合条件的数据
        </td>
	</tr>
	<!--{/section}-->
	<tr>
		<td colspan="8">
			<!--{if $user_id!=""}-->
        	<a href="<!--{$basePath}-->maternal/postnatal/list/id/<!--{$user_id}-->">-查看当前人员随访记录</a>
			<!--{else}-->
			<a href="<!--{$basePath}-->maternal/postnatal/list">-查看全部人员随访记录</a>
			<!--{/if}-->
			&nbsp;<!--{$pager}-->
        </td>
	</tr>
	</tbody>
</table>
<input type="hidden" id="error_message" name="error_message" value="<!--{$error_message}-->" />
</body>
</html>