/* CSS Document */
body{
    margin:0 auto;
	text-align:left; 
	background:#DAE6F3; 
	margin-left:auto;
	margin-right:auto;
	font:13px Arial,Helvetica,sans-serif;
}

.inputnone{
border-left-style:none;
border-right-style:none;
border-bottom-style:none;
border-top-style:none;
background:#FFFFFF;
width:30px;
}
.inputnone3{
border-left-style:none;
border-right-style:none;
border-bottom-style:none;
border-top-style:none;
background:#FFFFFF;
width:25px;
}
.inputnone4{
border-left-style:none;
border-right-style:none;
border-bottom-style:none;
border-top-style:none;
background:#FFFFFF;
width:30px;
}
.inputnone1{
border-left-style:none;
border-right-style:none;
border-bottom-style:none;
border-top-style:none;
background:#FFFFFF;
width:180px;
}
.inputnone2{
border-left-style:none;
border-right-style:none;
border-bottom-style:none;
border-top-style:none;
background:#FFFFFF;
width:120px;
}
td{
background:#FFFFFF;
}
.inputbottom{
border-left-style:none;
border-right-style:none;
border-top-style:none;
border-bottom-style:solid;
border-bottom-color:blue;
border-bottom-width:1px;
background:#FFFFFF;
width:100px;
}
.inputbottomshort{
border-left-style:none;
border-right-style:none;
border-top-style:none;
border-bottom-style:solid;
border-bottom-color:blue;
border-bottom-width:1px;
background:#FFFFFF;
width:50px;
}
.inputnew{
width:15px;
height:15px;
border:solid  1px blue;
}
.addstyleup{
border-right:none;
border-top:none;
border-bottom:none;
border-left-style:solid;
border-left-color:blue;
border-left-width:1px;
width:37%;  
float:right;
text-align:left;
}
.addstyleright{
border-left:none;
border-bottom:none;
border-right:none;
border-top-style:solid;
border-top-color:blue;
border-top-width:1px;
width:37%;  
float:right;
text-align:left;
}
.addstyleleft{
border-left:none;
border-top:none;
border-top:none;
border-bottom-style:solid;
border-bottom-color:blue;
border-bottom-width:1px;
width:37%;  
float:right;
text-align:left;
}
.addstyledown{
border-bottom:none;
border-left:none;
border-right-style:solid;
border-right-color:blue;
border-right-width:1px;
border-top:none;
width:37%;  
float:right;
text-align:left;
}
.inputbottomlong{
border-left-style:none;
border-right-style:none;
border-top-style:none;
border-bottom-style:solid;
border-bottom-color:blue;
border-bottom-width:1px;
background:#FFFFFF;
width:150px;
}
.newtextarea{
border:solid 1px #FFFFFF;
overflow-y:hidden;
}
.inputbutton{
border: 1px solid blue;
width:100px;
background:#FFFFFF;
}
.changecolor{
background:#999999;
border-left-style:none;
border-right-style:none;
border-top-style:none;
border-bottom-style:solid;
border:#999999;
border-bottom-width:1px;
width:150px;
}