@charset "utf-8";
/* CSS Document */
/* 建立时间 2013-04-11 */
/* CSS是按照中文字体设置的,与以前的字体现实效果有不同.可以自己修改 */

/* 公用 */
*{padding:0;margin:0;}
html,body{-webkit-text-size-adjust:none;}
body{background:#101D3F url(../images/bodybg.jpg) center top no-repeat;font-family:"微软雅黑",Arial, Helvetica, sans-serif;font-size:12px}
li{list-style:none}
img{border:none}
a{text-decoration:none;}
body{font-size:12px;text-align:center;}
p{text-align:left}
red{color:#f00}
.clear{clear:both;height:0px;overflow:hidden;line-height:0px;font-size:0px;}
.mar_t_12{margin-top:12px}
.mar_l_12{margin-left:12px}
.mar_r_12{margin-right:12px}
.mar_b_12{margin-bottom:12px}

/* 主体 */
.wap{width:980px;height:auto;margin-left:auto;margin-right:auto}
.por{position:relative}
.logo{width:368px;height:79px;background:url(../images/logo.png) center top no-repeat;_background:url(../images/logo_new.gif) center left no-repeat;position:absolute;left:0;top:30px}
.logo a{display:block;width:100%;height:100%;line-height:2000;overflow:hidden}

/* 方块 */
.bank_1,.bank_2,.bank_3,.bank_4,.bank_5,.bank_6,.bank_7,.bank_8{position:absolute;cursor: pointer;}
.bank_1,.bank_2,.bank_4{top:135px;}
.bank_5,.bank_6,.bank_7,.bank_8{top:401px}
.bank_3{top:268px}
.bank_1,.bank_4,.bank_6{width:311px;height:244px;}
.bank_1,.bank_5{left:4px;}
.bank_1{background:#FEB800 url(../images/bank_lo1.png) bottom right no-repeat;text-align:center}
.bank_2,.bank_3{width:311px;height:110px;left:335px }
.bank_2{background:#63D4FC url(../images/bank_lo2.png) right bottom no-repeat}
.bank_3{background:#3A8E39 url(../images/bank_lo3.png) right bottom no-repeat;}
.bank_4{background:#fff url(../images/bank_lo4.png) right bottom no-repeat;left:668px}
.bank_5,.bank_7,.bank_8{width:197px;height:244px}
.bank_5{background:#72E4BD url(../images/bank_lo5.png) right bottom no-repeat;}
.bank_6{background:#9E55E9 url(../images/bank_lo6.png) bottom center no-repeat;left:225px}
.bank_7{background:#B2FD62 url(../images/bank_lo7.png) bottom center no-repeat;left:560px}
.bank_8{background:white url(../images/bank_lo8.png ) bottom center no-repeat;left:782px}

/* 方块中的文字*/
.bank_tit1,.bank_tit4,.bank_tit6{font-weight:normal;letter-spacing:2px}
.bank_tit1{font-size:34px;color:#353630;}
.bank_tit4{font-size:32px;color:#05519E;text-align:left;}
.bank_p1,.bank_p4,.bank_p6{margin-top:5px }
.bank_tit4,.bank_p4{padding-left:20px}
.bank_p1{font-size:18px;color:#4E4E4E;text-align:center;letter-spacing:3px;}
.bank_p4{font-size:17px;color:#4F4F4F;text-align:left;letter-spacing:2px;line-height:24px}
.bank_tit6{font-size:32px;color:#fff;}
.bank_p6{font-size:17px;color:#fff;}
.bank_tit6,.bank_p6{text-align:left;padding-left:25px}
.bank_tit2{text-align:left;color:#fff;font-size:30px;padding-left:12px;font-weight:normal;letter-spacing:2px}
.bank_p2{font-size:22px;color:#fff;padding-left:12px}
.bank_tit3{text-align:left;color:#D0F26B;font-size:24px;padding-left:12px;font-weight:normal}
.bank_p3{font-size:17px;color:#CAE47B;padding-left:7px}
.bank_tit5{text-align:left;color:#0C860B;font-size:24px;padding-left:12px;font-weight:normal}
.bank_p5{font-size:17px;color:#0C860B;padding-left:12px;padding-top:5px}
.bank_tit7{text-align:left;color:#315A06;font-size:24px;padding-left:15px;font-weight:normal;padding-top:6px}
.bank_p7{font-size:17px;color:#54990B;padding-left:15px;padding-top:5px}
.bank_tit8{font-size:28px;color:#353630;}
/* 底部 */
.foot{padding-top:680px;}
.foot_p1{text-align:center;color:#909EC4}
.foot_p1 a{color:#909EC4;}
.foot_p1 a:hover{color:#FC0}

