<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
<link rel="stylesheet" href="<!--{$basePath}-->views/styles/jquerymobile.min.css" rel="stylesheet" type="text/css" media="screen" />
<script src="<!--{$basePath}-->views/js/jquery-1.9.1.min.js"></script>
<script src="<!--{$basePath}-->views/js/jquerymobile.min.js"></script>
<style>
.red{
    color: red;
}
.bold{font-weight: bold;}
img{width:100%;}
p{
    line-height: 24px;
}
</style>
<div data-role="page" id="page1">
    <div data-role="content">
        <div data-role="collapsible-set" data-theme="b">
            <div data-role="collapsible" data-content-theme="e" data-collapsed="false">
                <h3>
                    简介
                </h3>
                <p>雅安市区域卫生信息平台项目采取了与成都中医药大学市校合作的开发模式，2009年开始进行规划论证，2010年正式启动，2012年成立了雅安市卫生数据管理中心。</p>
            </div>
            <div data-role="collapsible" data-content-theme="e" data-collapsed="true">
                <h3>
                    平台建设的3个要点
                </h3>
				<p>一是建立<span class="bold">市级卫生数据中心</span>。包括数据共享与交换平台、共享数据库、应用平台及核心应用系统等。
<br />二是建设<span class="bold">两个基础数据库</span>。以标准化健康档案为切入点，以电子病历为突破口。
<br />三是强调<span class="bold">四个面向</span>。在公共卫生、医疗服务、医疗保障、药品供应保障和综合管理的5个应用中，均考虑数据共享交换、卫生决策支持、信息发布和增值服务4个维度，为面向机构、行政、居民和厂商间信息互动打下基础。
<br /><br /><img src="<!--{$basePath}-->images/meet/meeting_1.gif" />
</p>
            </div>
            <div data-role="collapsible" data-content-theme="e" data-collapsed="true">
                <h3>
                    卫生信息一体化管理
                </h3>
				<p>统一模式（平台及各应用系统都转为B/S模式，为真正实现云平台打下基础）
<br />统一数据（基础核心数据完全统一，如健康档案主索引，机构主索引等）
<br />统一入口（平台级系统（如120，ＯＡ，妇幼平台），将来会实现单点登录）
<br />统一规则（基于市级云平台，对工作指标进行统一规定，如建档完整率定义）
<br />统一监管（基于市级云平台，对工作完成情况进行监管）
<br />统一管理（基于市级云平台服务，对已迁至云平台的系统，提供统一的管理，如安全云服务，存储云服务。）
<br /><br /><img src="<!--{$basePath}-->images/meet/meeting_2.gif" />
</p>
            </div>
			 <div data-role="collapsible" data-content-theme="e" data-collapsed="true">
                <h3>
                    演示内容：面向行政
                </h3>
				<p>居民健康档案管理
<br />慢病管理
<br />卫生费用统计
<br />卫生统计报表
<br />基于地理密度指数的决策
<br />行政决策掌中宝
<br /><br /><img src="<!--{$basePath}-->images/meet/meeting_3.gif" />
<br /><br /><img src="<!--{$basePath}-->images/meet/meeting_6.gif" />
</p>
            </div>
            <div data-role="collapsible" data-content-theme="e" data-collapsed="true">
                <h3>
                    演示内容：面向机构
                </h3>
				<p>电子病历的住院记录首页
<br />电子处方列表
<br />电子病历的影像数据
<br />双向转诊记录
<br />机构掌中宝
<br /><br /><img src="<!--{$basePath}-->images/meet/meeting_8.gif" />
</p>
            </div>
            <div data-role="collapsible" data-content-theme="e" data-collapsed="true">
                <h3>
                    演示内容：面向居民
                </h3>
				<p>居民健康门户
<br />居民健康信息自我维护
<br />居民健康掌中宝
<br />微信平台
<br />短信平台
<br />预约挂号
<br /><br /><img src="<!--{$basePath}-->images/meet/meeting_7.gif" />
<br /><br /><img src="<!--{$basePath}-->images/meet/meeting_5.gif" />
<br /><br /><img src="<!--{$basePath}-->images/meet/meeting_4.gif" />
</p>
            </div>
            <div data-role="collapsible" data-content-theme="e" data-collapsed="true">
                <h3>
                    关于我们
                </h3>
				<p>技术支持:成都中医药大学
                <br />联系电话:
                <br />13684087134（罗老师）
                <br />18982014507（贾老师）
                <br />13408515683（叶老师）
                <br />电子邮箱：wormdedi@gmail.com
                <br />欢迎来电来信索取详细资料。
</p>
            </div>
        </div>
    </div>
    
</div>
<html>