<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <script type="text/javascript" src="<!--{$basePath}-->views/js/jquery-1.4.2.js"></script>
        <script type="text/javascript" src="<!--{$basePath}-->views/js/calendar/WdatePicker.js"></script>
        <link rel="stylesheet" type="text/css" media="screen" href="<!--{$basePath}-->views/styles/site.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="<!--{$basePath}-->views/styles/tabs.css" />
        <link rel="stylesheet" type="text/css"  href="<!--{$basePath}-->views/js/calendar/default/datepicker.css"/>

        <title><!--{$title}--></title>

    </head>
<body>


        <form method="post">
            <table cellspacing="0" width="100%">
                <thead>

                </thead>
                <tr  class="headbg">
                    <th style="width:40%" colspan="4">优惠列表</th>
                </tr>
               
                <tr class="columnbg">
                    <th width="20%" >编号</th>
                    <th width="20%" >优惠项目</th>
                    <th width="20%" >优惠比例(%)</th>
                  
                    <th width="24%" >操作</th>
                </tr>	
                <tbody id='1'>
                <!--{if $rows}-->
                    <!--{foreach from=$rows key=k item=v}-->
                    <tr onmouseover="this.className='table_mouseover'" onmouseout="this.className='table_mouseout'">
                        <td  ><!--{$v.uuid}--></td>
                        <td  ><!--{$v.charge_id}--></td>
                        <td > <!--{$v.favorable_ratio}--></td>
                     
                        <td> <a name="edit" href="<!--{$basePath}-->appointment/preferential/add/action/edit/uuid/<!--{$v.uuid}-->">[编辑]</a> | <a href="#" onclick="del('<!--{$v.uuid}-->')">[删除]</a></td>
                    </tr>
                    <!--{/foreach}-->
                    
                    <!--{else}-->
                    <td colspan="4">暂时没有信息!</td>
                    <!--{/if}-->	
                </tbody>
 

                <tr  class="columnbg">
                    <td style="width:40%" colspan="4"><div style=" float:left">[<a name="add" href="<!--{$basePath}-->appointment/preferential/add/action/add">添加优惠项目</a>]</div><div style="float:right"><!--{$page}--></div></td>
                </tr>
            </table>
    </form>
        <br />

<script  language="javascript">
           function del(id)
		   {   
		      if(confirm('您确定删除吗?请谨慎操作')){
			   $.get("<!--{$basePath}-->appointment/preferential/del/uuid/"+id,function(data){
				   alert(data);
				   
				   window.location='/appointment/preferential/index';
			   });
			  }
			   }
        </script>
</body>

</html>