<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>体格检查-基本检查</title>
<link rel="stylesheet" type="text/css" id="css" href="<!--{$basePath}-->views/styles/admincp.css">
<link rel="stylesheet" type="text/css" id="css" href="<!--{$basePath}-->views/styles/tabs.css">
<script src="<!--{$basePath}-->views/js/calendar/WdatePicker.js" type="text/javascript"></script> 
<script type="text/javascript" src="<!--{$basePath}-->views/js/jquery-1.4.2.js"></script>
<script type="text/javascript" src="<!--{$basePath}-->views/js/j.dimensions.js"></script>
<script type="text/javascript" src="<!--{$basePath}-->views/js/organization.js"></script>
<style>
table
{

	background:#ffffff;
	border-color:#FF0000;
}
td{
	border:none;
	border-collapse:collapse;
}

hr{
    border-color:#000000;
	border:solid dotted;
   
}
.input_bottom_line{
	border-left-style:none;
	border-right-style:none;
	border-top-style:none;
	border-bottom:1px solid #000000;
	background:#FFFFFF;
	width:120px;
}
.input_none_line{
	border-left-style:none;
	border-right-style:none;
	border-top-style:none;
	border-bottom-style:none;
	background:#FFFFFF;
	width:120px;
}
.inputbutton{
	border: 1px solid blue;
	width:80px;
	background:#FFFFFF;
}
.text_title{
	text-align:center; 
	font-size:16px;
	 padding:6px;
	 font-weight:bold;
}
.text_align_center{
	text-align:center;
}
.text_align_right{
	text-align:right;	
}
.text_padding_left{
	 padding-left:60px;
}
.intable,.intable tr,.intable tr td{ border:0}

</style>
<script type="text/javascript">
	 $(function(){
		var bmi_height_obj=$("#height");//身高
		var bmi_weight_obj=$("#weight");//体重
		///身高失去光标
		bmi_height_obj.blur(function(){
		   var height_val= bmi_height_obj.val();//身高值
		   var weight_val= bmi_weight_obj.val();//体重值
		   if(height_val!="" && weight_val!=""){
		       if(isNaN(height_val) && isNaN(weight_val)){
			  		 
			   }else{
			   		var bmi=weight_val/(height_val*height_val*0.01*0.01);
			   		$("#bmi").val(bmi.toFixed(2));
			   }
		   }
		
		});
		//体重失去光标
		bmi_weight_obj.blur(function(){
		   var height_val= bmi_height_obj.val();//身高值
		   var weight_val= bmi_weight_obj.val();//体重值
		   if(height_val!="" && weight_val!=""){
		   	   if(isNaN(height_val) && isNaN(weight_val)){
			  		
			   }else{
			        var bmi=weight_val/(height_val*height_val*0.01*0.01);
			   		$("#bmi").val(bmi.toFixed(2));
			   }
		   }
		});
		
	});
	
</script>	
</head>
<body>
<div style=" text-align:center; background-color:#FFFFFF; margin-left:auto; margin-right:auto;">
  <form method="POST" action="<!--{$basePath}-->gp/physical/update">
  <input  type="hidden" name="uuid" value="<!--{$uuid}-->"/>
  <table class="intable" style="width:800px;">
  <tr><td  class="text_title">体格检查</td></tr>
  <tr><td><hr></td></tr>  
  <tr><td  class="text_title">基本检查</td></tr>
  <tr>
  	<td class="text_align_center">
 		患者姓名<input type="text"  class="input_bottom_line"   value="<!--{$name}-->" disabled="disabled"/>
 		性别<input type="text"  class="input_bottom_line"  style="width:51px;"  value="<!--{$sex}-->" disabled="disabled"/> 
  		年龄<input type="text" class="input_bottom_line" name="age" style="width:51px;"   value="<!--{$age}-->"/> 
 		档案编号<input type="text"  class="input_bottom_line"  style="width:260px;"  value="<!--{$serial_num}-->" disabled="disabled"/>  	</td>
  </tr>
  <tr>
  	<td  class="text_align_center">
  		家庭地址<input type="text"  class="input_bottom_line"  style="width:420px;"  value="<!--{$faminy_add}-->" disabled="disabled"/> 联系电话
  		<input type="text"  class="input_bottom_line"   value="<!--{$telphone}-->" disabled="disabled"/>  	</td>
  </tr>  
  <tr>
  	<td  class="text_align_center"><br/><br/>
        身高(cm)<input type="text"  class="input_bottom_line" style="width:180px;"    value="<!--{$height}-->"  name="height" id="height"/>
        体重(kg)<input type="text"  class="input_bottom_line" style="width:180px;"   value="<!--{$weight}-->" name="weight" id="weight"/>
        体重指数<input type="text"  class="input_none_line"  style="width:130px;"  value="<!--{$bmi}-->" name="bmi" id="bmi" readonly="readonly"/>
        
  	</td>
  </tr>  
  <tr>
 	 <td  class="text_align_center"><br/><br/>
       
        收缩压(mmHg)<input type="text"  class="input_bottom_line" style="width:240px;"    value="<!--{$s_blood_pressure}-->"  name="s_blood_pressure" id="s_blood_pressure"/>
        舒张压(mmHg)<input type="text"  class="input_bottom_line" style="width:240px;"   value="<!--{$p_blood_pressure}-->" name="p_blood_pressure" id="p_blood_pressure"/>
        <br/><br/>
 	 </td>
  </tr> 
   <tr>
 	 <td  class="text_align_left"><br/><br/>
       
        <span style=" padding-left:60px">空腹血糖(mmol/L)<input type="text"  class="input_bottom_line" style="width:240px;"    value="<!--{$blood_sugar}-->"  name="blood_sugar" id="blood_sugar"/></span>
        <br/><br/>
 	 </td>
  </tr> 
  <tr><td class="text_align_right">
  	医生（签字）:
 	<select name="doctors_signature" >
    <!--{section loop=$region_users name=experience}-->
    <option value="<!--{$region_users[experience].user_id}-->" <!--{if $doctors_signature==$region_users[experience].user_id}-->selected<!--{/if}-->><!--{$region_users[experience].name_real}--></option>
    <!--{/section}-->
    </select> 
  	</td></tr>
  <tr>
  	<td  class="text_align_right">
    检查时间:
    <input type="text"  class="input_bottom_line"    onfocus="WdatePicker({firstDayOfWeek:1})"  name="experience_time" value="<!--{$experience_time}-->"/>
    </td></tr>
   	<tr><td><hr/></td></tr>
    
    <tr><td  style="text-align:center"><input type="submit" id="submit" value=" 提交 " name="submit" class="inputbutton"/><!--{if $uuid!=""}-->&nbsp;&nbsp;<input type="button" name="print" id="print" value="打印" onclick="javascript:window.print();" class="inputbutton"/><!--{/if}--></td></tr>
    </table>
    </form>
</div>


</body>
</html>
