<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>药品库存表列表</title>
<link rel="stylesheet" type="text/css" id="css" href="<!--{$basePath}-->views/styles/admincp.css">
<link rel="stylesheet" type="text/css" id="css" href="<!--{$basePath}-->views/styles/tabs.css">
<style>
	table
	{
		background:#ffffff;
	}
.table_mouseover{
	background:#cccccc;
}
.table_mouseout{
	background:#ffffff;
}
.inputbutton{
border: 1px solid blue;
width:80px;
background:#FFFFFF;
}
</style>
</head>
<body>
<table border="0" width="100%">
    <tr class="headbg">
      <td>
		<strong>药品库存表</strong>
	  </td>
	</tr>
		<form action="" id="search" method="post">
			<tr><td>
				姓名：<input type="text" name="patientname"  value=""/>&nbsp;
				身份证号:<input type="text" name="identity_number" value=""/>&nbsp;
				<input type="submit" value="搜索" class="inputbutton" style="line-height:20px;"/>
				</td>
			</tr>
		</form>
</table>	
<table border="0" width="100%">
	<thead>
    <tr class="headbg">
        <th title="医疗机构名称">
        	医疗机构名称
        </th>
		<th title="药品所在库房名" >
        	药品所在库房名
        </th>
		<th title="药品编码">
        	药品编码
        </th>
        <th title="药品名称">
        	药品名称
        </th>
         <th title="药品批号">
        	药品批号
        </th>
        <th title="药品产地">
        	药品产地
        </th>
		<th title="药品失效日期">
        	药品失效日期
        </th>
       
        
		<th>
        	操作
        </th>
	</tr>
	</thead>
	<tbody >
	<!--{section loop=$row name=row}-->
	 <tr onmouseover="this.className='table_mouseover'" onmouseout="this.className='table_mouseout'">
        <td>
         <!--{$row[row].yljgdm}-->
        </td>
		<td >
        	<!--{$row[row].ypkf}-->
        </td>
		<td>
        	<!--{$row[row].ypbm}-->
        </td>
        <td>
        	<!--{$row[row].ypmc}-->
        </td>
        <td>
           <!--{$row[row].ypph}-->
        </td>
		<td>
            <!--{$row[row].ypcd}-->
        </td>
        <td>
            <!--{$row[row].ypsxrq}-->
        </td>
        
		<td >
        	<a href="<!--{$basePath}-->his/medstore/display/id/<!--{$row[row].kcid}-->">[查看详细]</a>
        </td>
	</tr>
	<!--{sectionelse}-->
	<td colspan="7" align="center">
	   当前没有符合条件的数据！
	</tr>
	<!--{/section}-->
	  <tr>
	  <td colspan="7" align="center"> 
         <!--{$page}-->
	 </td>
	</tr>
	</tbody>
</table>
</body>
</html>