<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link href="<!--{$basePath}-->views/styles/tabs.css" media="all" type="text/css" rel="stylesheet"/>
<style>
table
	{
		background:#ffffff;
	}
.table_mouseover{
	background:#cccccc;
}
.table_mouseout{
	background:#ffffff;
}
.bigfont{
    background:#DAE6F3;
}
a{
	text-decoration:none;
}
</style>
</head>
<body>
<form action="" method="post">
<table width="100%" align="center">
   <tr class="headbg">
       <td colspan="3">标准模块维护列表</td>
   </tr>
   <tr class="bigfont">
    <td width="30%"><strong>模块编号</strong></td>
	<td width="30%"><strong>模块名称</strong></td>
	<td width="40%"><strong>操作</strong></td>
   </tr>
   <!--{section name=listArray loop=$listArray}-->
   <tr>
    <td width="30%"><!--{$listArray[listArray].module_id}--></td>
	<td width="30%"><!--{$listArray[listArray].module_name}--></td>
	<td width="40%"><a href="<!--{$basePath}-->wsmodule/wsmanage/manage/editid/<!--{$listArray[listArray].module_id}-->/currentpage/<!--{$pageCurrent}-->">[编辑]</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="<!--{$basePath}-->wsmodule/wsmanage/del/delid/<!--{$listArray[listArray].module_id}-->/currentpage/<!--{$pageCurrent}-->" onclick="return confirm('您确定删除吗,删除该条数据将删除一个数据表?请谨慎操作');">[删除]</a></td>
   </tr>
   <!--{sectionelse}-->
   <tr>
     <td colspan="3">当前没有任何数据</td>
   </tr>
   <!--{/section}-->
	<tr>
	 <td colspan="3" align="left" width="100%">
		<a href="<!--{$basePath}-->wsmodule/wsmanage/manage/currentpage/<!--{$pageCurrent}-->">[添加模块名称]</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<!--{$page}-->
	 </td>
	</tr>
</table>
</form>
</body>