<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, minimum-scale=1.0,maximum-scale=1.0" />
<meta name="MobileOptimized" content="320"/>

<title>雅安区域卫生云平台--领导决策版</title>
<link rel="stylesheet" type="text/css" href="<!--{$basePath}-->views/android/css/site.css">
<link rel="stylesheet" type="text/css" href="<!--{$basePath}-->views/android/css/main.css">

</head>
<body style="zoom:0.6666">
<div class="content">
  <div class="absorbs one"><a href="<!--{$basePath}-->android/emergency/index" title="查看灾害">查看灾害</a></div>
  <div class="absorbs two"><a href="<!--{$basePath}-->android/emergency/add" title="上报灾害">上报灾害</a></div>
  <div class="absorbs three"><a href="<!--{$basePath}-->decision/hypertension/index" title="健康体检">健康体检</a></div>
  <div class="absorbs four"><a href="<!--{$basePath}-->decision/base/list" title="基本档案">基本档案</a></div>
  <div class="absorbs six"><a href="<!--{$basePath}-->decision/maternal/index" title="孕产妇管理">孕产妇管理</a></div>
  <div class="absorbs seven"><a href="<!--{$basePath}-->decision/schizophrenia/index" title="精神疾病">精神疾病</a></div>
  <div class="absorbs eight"><a href="<!--{$basePath}-->decision/diabetes/index" title="糖尿病">糖尿病</a></div>
  <div class="absorbs five"><a href="<!--{$basePath}-->decision/statistics/list" title="老年人服务管理">老年人管理</a></div>
  <div class="absorbs nine"><a href="<!--{$basePath}-->decision/children/index" title="儿童管理">儿童管理</a></div>
  <div class="absorbs ten"><a href="<!--{$basePath}-->android/index/login" title="登出">登出</a></div>
  <div class="bottom">雅安区域卫生云平台--领导决策版</div>
</div>
</body>
</html>
