<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>双向转诊(转出)列表</title>
<link rel="stylesheet" type="text/css" id="css" href="<!--{$basePath}-->views/styles/admincp.css">
<link rel="stylesheet" type="text/css" id="css" href="<!--{$basePath}-->views/styles/tabs.css">
<script src="<!--{$basePath}-->views/js/calendar/WdatePicker.js" type="text/javascript"></script> 
<style>
	table
	{
		background:#ffffff;
	}
.table_mouseover{
	background:#cccccc;
}
.table_mouseout{
	background:#ffffff;
}
.inputbutton{
border: 1px solid blue;
width:80px;
background:#FFFFFF;
}
</style>
</head>
<body>
<table border="0" width="100%">
    <tr class="headbg">
      <td>
		<strong>双向转诊(转出)列表</strong>
	  </td>
	</tr>
		<form action="<!--{$basePath}-->gp/transout/index" id="search" method="post">
			<tr><td>
				姓名：<input type="text" name="realname" size="18"/>&nbsp;
				日期:<input type="text" name="nowdate" size="18" onClick="WdatePicker({firstDayOfWeek:1})" value="<!--{$nowdate}-->"/>&nbsp;
				<input type="submit" value="搜索" class="inputbutton" name="search"/>
				</td>
			</tr>
		</form>
</table>	
<table border="0" width="100%">
	<thead>
    <tr class="headbg">
    	<th>&nbsp;
        	
        </th>
        <th title="编号">
        	编号
        </th>
		<th title="姓名" >
        	姓名
        </th>
		<th title="体检日期">
        	日期
        </th>
        <th title="姓名" >
        	转诊医生
        </th>
		<th>
        	操作
        </th>
	</tr>
	</thead>
	<tbody >
	<!--{if $nunumber==0}-->
	<tr>
	  <td colspan="6" align="center"><font color="red"><!--{$msg}--></font></td>
	</tr>
	<!--{else}-->
     <!--{section loop=$diagnosislistarr name=diagnosislistarr}-->
	 <tr onmouseover="this.className='table_mouseover'" onmouseout="this.className='table_mouseout'">
	  <form action="<!--{$basePath}-->gp/transout/del/actionname/delall" method="post">
	 	<td>
	 	    <input type="hidden" value="<!--{$delname}-->" name="realnamedel"/>
	 	    <input type="hidden" value="<!--{$deldate}-->" name="nowdatedel"/>
	 		<input type="checkbox" value="<!--{$diagnosislistarr[diagnosislistarr].uuid}-->" name="selectFlag[]" id="selectFlag"/>
	 	</td>
        <td>
           <!--{$diagnosislistarr[diagnosislistarr].iha_id}--> 
        </td>
		<td >
        	<!--{$diagnosislistarr[diagnosislistarr].name}-->
        </td>
		<td>
        	<!--{$diagnosislistarr[diagnosislistarr].current_time}-->
        </td>
        <td>
        	<!--{$diagnosislistarr[diagnosislistarr].doctor_name}-->
        </td>
		<td >
        	<a href="<!--{$basePath}-->gp/transout/add/uuid/<!--{$diagnosislistarr[diagnosislistarr].uuid}-->/currentpage/<!--{$currentpagenow}-->/realname/<!--{$diagnosislistarr[diagnosislistarr].urlencodename}-->/nowdatedit/<!--{$diagnosislistarr[diagnosislistarr].fill_time}-->">[编辑]</a>&nbsp;&nbsp;&nbsp;&nbsp; <a href="<!--{$basePath}-->gp/transout/del/actionname/dellone/uuid/<!--{$diagnosislistarr[diagnosislistarr].uuid}-->/realnamedel/<!--{$delname}-->/nowdatedel/<!--{$deldate}-->" onClick="return confirm('您确定删除吗?确定');">[删除]</a>
        </td>
	</tr>
	  <!--{/section}-->
	  <!--{/if}-->
	  <tr>
	  <td colspan="6" align="center">
	   <input type="checkbox" value="" name="ifAll" id="ifAll" onClick="return checkselect();"/>全选      &nbsp;&nbsp;<!--{$page}-->&nbsp;&nbsp;<input type="submit" name="delAll" value="全部删除" class="inputbutton" onClick="	if(confirm('确定要删除这些内容吗？')){return true;}else{return false;}
"/>
	</td>
	</tr>
	</form> 
	</tbody>
</table>
</body>
</html>
<script type="text/javascript">
function checkselect() {
	  for (var i = 0; i < document.getElementsByName("selectFlag[]").length; i++) {
	   document.getElementsByName("selectFlag[]")[i].checked = document.getElementById("ifAll").checked;
	  }
	 }
</script>