<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><!--{$title}--></title>
<style type="text/css">
body{
	margin:0px;
	padding:0px;
	#background:url('<!--{$baseUrl}-->images/top_bg.gif') repeat-x;
	background:url('<!--{$baseUrl}-->images/top_bg.gif') repeat-x;
	border:0;
}
img{
    float: left;
}
#Layer1 {
	position:absolute;
	width:225px;
	height:34px;
	color:#fff;
	font-size:12px;
	z-index:1;
	left: 80%;
	top: 45%;	
}
#Layer1 a{
    color: #fff;
    text-decoration: none;
}
</style>
</head>

<body>
<img src="<!--{$topimg}-->" />
<div id="Layer1"><a href="<!--{$baseUrl}-->decision/main/index" target="mainFrame">系统首页</a> &nbsp;<!--{$timer}-->
</div>
</body>

</html>
