<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>孕产妇第一次产前随访服务记录人员列表</title>
<link rel="stylesheet" type="text/css" id="css" href="<!--{$basePath}-->views/styles/admincp.css">
<link rel="stylesheet" type="text/css" id="css" href="<!--{$basePath}-->views/styles/tabs.css">
<link type="text/css" rel="stylesheet" href="<!--{$basePath}-->views/styles/vtip.css" />
<style>
	table
	{
		background:#ffffff;
	}
	.line
	{
		border-top:0px;
		border-left:0px;
		border-right:0px;
	}
</style>
<!--引入jquery-->
<script src="<!--{$basePath}-->views/js/jquery-1.4.2.js"></script>
<script src="<!--{$basePath}-->views/js/vtip.js" type="text/javascript"></script>
</head>
<body>
<table border="0" width="100%">
	<thead>
    <tr class="headbg">
    	<th>
        	&nbsp;
        </th>
		<th>
        	姓名
        </th>
        <th>
        	本人电话
        </th>
		<th>
        	第一次随访时间
        </th>
		<th>
        	填表孕周
        </th>
		<th>
        	孕次
        </th>
		<th>
        	产次
        </th>
		<th>
        	预产期
        </th>
		<th>
        	医生
        </th>
		<th>
        	操作
        </th>
	</tr>
	</thead>
	<tbody id="ma">
	<!--{section name=prenatal loop=$prenatal}-->
	 <tr id="ma_<!--{$prenatal[prenatal].js_uuid}-->">
	 	<td>
        	&nbsp;
        </td>
		<td>
        	<!--{$prenatal[prenatal].ssname}-->
        </td>
        <td>
        	<!--{$prenatal[prenatal].phone_number}-->
        </td>
		<td>
        	<!--{$prenatal[prenatal].created}-->
        </td>
		<td>
        	<!--{$prenatal[prenatal].gestational_weeks}-->
        </td>
		<td>
        	<!--{$prenatal[prenatal].gravidity}-->
        </td>
		<td>
        	<!--{$prenatal[prenatal].parity}-->
        </td>
		<td>
        	<!--{$prenatal[prenatal].expected_date_of_confine}-->
        </td>
		<td>
        	<!--{$prenatal[prenatal].staff_name}-->
        </td>
		<td>
        	<a href="<!--{$basePath}-->maternal/two/addlist/fid/<!--{$prenatal[prenatal].uuid}-->">添加2-5次随访</a>
        </td>
	</tr>
	<!--{sectionelse}-->
	<tr>
		<td colspan="8">
        	暂时没有符合条件的数据
        </td>
	</tr>
	<!--{/section}-->
	<tr>
		<td colspan="8">
			<!--{$pager}-->
        </td>
	</tr>
	</tbody>
</table>
<input type="hidden" id="error_message" name="error_message" value="<!--{$error_message}-->" />
</body>
</html>