in 测试默认 index html
<br />
姓名：<font color="red"><!--{$name}--></font><br />
年龄：<font color="blue"><!--{$age}--></font><br />
照片:<img src="<!--{$basePath}-->images/noimage.jpg"><br />
<a href="<!--{$basePath}-->oracle/oracle/test">测试oracle</a><br />
<a href="<!--{$basePath}-->doctor">测试doctor</a><br />
<a href="<!--{$basePath}-->statistics/iha/index">测试statistics/iha/index</a><br />



<form action="" method="POST">
<input type="hidden" name="message" id="message" value="<!--{$message}-->">
<a href="#" id="back" style="display:none">请返回</a>
<input type="submit" name="ok" id="ok" value="保存" />
</form>
<script type="text/javascript">
if($('message').value!=''){
	alert($('message').value);
	$('back').style.display='block';
}
function $(objName){
	return document.getElementById(objName);
}
</script>
