<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<style type="text/css">
#div{
	height:20px;
}	
ul li{
	padding:0px;
	margin:0px;
}
ul{
	border:#FF0000 1px solid;
}
li{
	border:#0000FF 1px solid;
}		
#ul{
	list-style:none;
}
#ul li{
	float:left;
	width:100px;
}
#ul li a{
	display:block;
	float:left;
	width:100px;
	margin:0;
	padding:0;
}	
#ul li ul{
	position:absolute;
	display:block;
	list-style:none;
	width:100px;
	margin:0 0 0 0;

}
#ul li ul li{
	float:left;
	width:100px;
}
</style>
</head>

<body>
<div id="menu">
<ul id="ul">
	<li>
		<a href="#">主菜单一</a>
		<ul>
			<li>主菜单一,1</li>
			<li>主菜单一,2</li>
			<li>主菜单一,3</li>
		</ul>
	</li>
	<li>
		<a href="#">主菜单二</a>
		<ul>
			<li>主菜单二,1</li>
			<li>主菜单二,2</li>
			<li>主菜单二,3</li>
		</ul>
	</li>
	<li>
	主菜单三
	</li>
</ul>

</div>

</body>
</html>
