#normalnurserecord
{
	text-align:center;
}

#normalnurserecord .nnrtable
{
	width:700px;
	font-family:ו;
	font-size:10.5pt;
	margin:0 auto;
	line-height:20px;
}

#normalnurserecord .nnrhead
{
	font-family:ו;
	font-size:15pt;
	text-align:center;
}

#normalnurserecord .nnrtitle
{
	font-family:ו;
	font-weight:bold;
	font-size:18pt;
	text-align:center;
}