#surgeryagreement
{
	text-align:center;
}

#surgeryagreement .sgatable
{
	width:700px;
	font-family:宋体;
	font-size:10.5pt;
	margin:0 auto;
	line-height:20px;
}

#surgeryagreement .sgahead
{
	font-family:宋体;
	font-size:15pt;
	text-align:center;
}

#surgeryagreement .sgatitle
{
	font-family:宋体;
	font-weight:bold;
	font-size:18pt;
	text-align:center;
}