<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
<link rel="stylesheet" href="<!--{$basePath}-->views/styles/jquerymobile.min.css" rel="stylesheet" type="text/css" media="screen" />
<script src="<!--{$basePath}-->views/js/jquery-1.9.1.min.js"></script>
<script src="<!--{$basePath}-->views/js/jquerymobile.min.js"></script>
<div data-role="page" id="page1">
    <div data-theme="a" data-role="header">
        <h3>
            慢病工作计划
        </h3>
    </div>
   <div data-role="content">
        <ul data-role="listview" data-divider-theme="b" data-inset="true">
            <li data-role="list-divider" role="heading">
                慢病工作计划列表
            </li>
           <!--{section loop=$row name=row}-->
            <li data-theme="c">
                <a href="<!--{$basePath}-->weixin/mb/detail/uuid/<!--{$row[row].uuid}-->" data-transition="slide">
                      <!--{$row[row].name}-->
                </a>
            </li>
         <!--{sectionelse}-->
         <li data-theme="b">
                <a href="###" data-transition="slide">
                     目前没数据
                </a>
         </li>
         <!--{/section}-->
         
        </ul>
    </div>   
    
    <div data-theme="a" data-role="footer" data-position="fixed">
        <h3>
           
        </h3>
        <a data-role="button" href="#page1" data-icon="arrow-l" data-iconpos="left"
        class="ui-btn-left">
            上页
        </a>
		 <!--{if $num}-->
        <a data-role="button" href="<!--{$basePath}-->weixin/mb/index/num/<!--{$num}-->" data-icon="arrow-r" data-iconpos="right"
        class="ui-btn-right">
            下页
        </a>
		<!--{/if}-->
    </div>
</div>
</html>