	<div id="topDiv">
	</div><!--end of topDiv-->
	<div id="menuDiv">
		<div class="menu" extraClass="mainMenu">
			<a href="/" extraClass="mainMenu">首&nbsp;&nbsp;&nbsp;&nbsp;页</a>
		</div>
		<div class="menu" extraClass="mainMenu">
			<a href="#" extraClass="mainMenu"><!--{$menu_1}--></a>
			<div class="subMenu">
				<!--{section name=sub_menu_1 loop=$sub_menu_1}-->
					<a href="<!--{$sub_menu_1[sub_menu_1].url}-->"><!--{$sub_menu_1[sub_menu_1].subMenuName}--></a>
				<!--{/section}-->
			</div>	
		</div>
		<div class="menu" extraClass="mainMenu">
			<a href="#" extraClass="mainMenu"><!--{$menu_2}--></a>
			<div class="subMenu">
				<!--{section name=sub_menu_2 loop=$sub_menu_2}-->
					<a href="<!--{$sub_menu_2[sub_menu_2].url}-->"><!--{$sub_menu_2[sub_menu_2].subMenuName}--></a>
				<!--{/section}-->
			</div>	
		</div>	
		<div class="menu" extraClass="mainMenu">
			<a href="#" extraClass="mainMenu"><!--{$menu_3}--></a>
			<div class="subMenu">
				<!--{section name=sub_menu_3 loop=$sub_menu_3}-->
					<a href="<!--{$sub_menu_3[sub_menu_3].url}-->"><!--{$sub_menu_3[sub_menu_3].subMenuName}--></a>
				<!--{/section}-->
			</div>	
		</div>	
		<div class="menu" extraClass="mainMenu">
			<a href="#" extraClass="mainMenu"><!--{$menu_4}--></a>
			<div class="subMenu">
				<!--{section name=sub_menu_4 loop=$sub_menu_4}-->
					<a href="<!--{$sub_menu_4[sub_menu_4].url}-->"><!--{$sub_menu_4[sub_menu_4].subMenuName}--></a>
				<!--{/section}-->
			</div>	
		</div>	
		<div class="menu" extraClass="mainMenu">
			<a href="#" extraClass="mainMenu"><!--{$menu_5}--></a>
			<div class="subMenu">
				<!--{section name=sub_menu_5 loop=$sub_menu_5}-->
					<a href="<!--{$sub_menu_5[sub_menu_5].url}-->"><!--{$sub_menu_5[sub_menu_5].subMenuName}--></a>
				<!--{/section}-->
			</div>	
		</div>	
		<div class="menu" extraClass="mainMenu">
			<a href="#" extraClass="mainMenu"><!--{$menu_6}--></a>
			<div class="subMenu">
				<!--{section name=sub_menu_6 loop=$sub_menu_6}-->
					<a href="<!--{$sub_menu_6[sub_menu_6].url}-->"><!--{$sub_menu_6[sub_menu_6].subMenuName}--></a>
				<!--{/section}-->
			</div>	
		</div>
		<div class="menu" extraClass="mainMenu">
			<a href="#" extraClass="mainMenu"><!--{$menu_6}--></a>
			<div class="subMenu">
				<!--{section name=sub_menu_6 loop=$sub_menu_6}-->
					<a href="<!--{$sub_menu_6[sub_menu_6].url}-->"><!--{$sub_menu_6[sub_menu_6].subMenuName}--></a>
				<!--{/section}-->
			</div>	
		</div>
	</div><!--end of menuDiv-->	
