<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><!--{$title}--></title>
</head>
<body bgcolor="#FFFFFF" text="#000000" link="#FF9966" vlink="#FF9966" alink="#FFCC99">
	<!--{$name}-->
	<table>
		<tr  class="title"><td>姓名</td></tr>
	<!--{section name=list loop=$list}-->
		<tr>
			<td><!--{$list[list].name}--></td>
		</tr>
	<!--{/section}-->
	</table>	
</body>
</html>
