<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>个人档案查重</title>
<link rel="stylesheet" type="text/css" id="css" href="<!--{$basePath}-->views/styles/admincp.css">
<link rel="stylesheet" type="text/css" id="css" href="<!--{$basePath}-->views/styles/tabs.css">
<link type="text/css" rel="stylesheet" href="<!--{$basePath}-->views/styles/vtip.css" />
<style>
	table
	{
		background:#ffffff;
	}
	.table_mouseover{
		background:#cccccc;
	}
	.table_mouseout{
		background:#ffffff;
	}
	.line
	{
		border-top:0px;
		border-left:0px;
		border-right:0px;
	}
</style>
<!--引入jquery-->
<script src="<!--{$basePath}-->views/js/jquery-1.4.2.js"  type="text/javascript"></script>
</head>
<body>
<form action="<!--{$basePath}-->iha/repeat/index" id="search" method="post">
	<table border="0" width="100%">
		<tr><td>身份证号<img title="“可以依次输入完整或者部分身份证号”" src="<!--{$baseUrl}-->images/comments.png" class="vtip" />:
		<input type="text" id="identity" name="standard_code" />&nbsp;&nbsp;
		 管辖地区内重复档案：<input  name="token" value="1" type="checkbox" <!--{if $token==1}-->checked="checked"<!--{/if}-->>
		<input type="submit" value="搜索"  />&nbsp;&nbsp;<input type="button" onclick="window.location='<!--{$basePath}-->iha/repeat/index/token/<!--{$token}-->'" value="返回" /> 
		&nbsp;<input type="button" value="管辖地区与其他地区重复档案" onclick="window.location.href='<!--{$baseUrl}-->iha/repeat/list'" /></td></tr>
	</table>
</form>    
	<table border="0" width="100%">
	<thead>
	    <tr class="headbg">
	        <th>
	        	编号
	        </th>
	        <th>
	        	身份证号
	        </th>
			<th>
	        	姓名
	        </th>
	        <th>
	        	性别
	        </th>
	        <th>
	        	建档时间
	        </th>
	        <th>
	        	户主姓名
	        </th>
	        <th>
	        	责任医生
	        </th>
	        <th>
	        	档案完整率
	        </th>
	        <th>
	        	其他关联数据
	        </th>
	        <th>
        	    家庭地址
            </th>
			<th>
	        	操作
	        </th>	
		</tr>
	</thead>
	<tbody id="iha">
  <form action="" id='form1'>
	<!--{section name=individual loop=$individual}-->
	 <tr onmouseover="this.className='table_mouseover'" onmouseout="this.className='table_mouseout'">
	    <td>
	    		<!--{if $individual[individual].display==1}-->
	        	<input type="checkbox" value="<!--{$individual[individual].uuid}-->" name="selectFlag[]" id="selectFlag" />
	        	<!--{/if}-->

	    </td>
        <td>
        <!--{$individual[individual].identity_number}-->
        </td>
		<td>
        	<!--{$individual[individual].name}-->
        </td>
        <td>
        	<!--{$individual[individual].sex}-->
        </td>
        <td>
        	<!--{$individual[individual].created}-->
        </td>
        <td>
        	<!--{$individual[individual].householder_name}-->
        </td>
        <td>
        	<!--{$individual[individual].staff_name}-->
        </td>
        <td>
        	<!--{$individual[individual].criteria_rate}-->
        </td>
        <td>
           健康体检<font color="Red"><!--{$individual[individual].examination_count}--></font>次<br />
           高血压随访<font color="Red"><!--{$individual[individual].hypertension_count}--></font>次<br />
           糖尿病随访<font color="Red"><!--{$individual[individual].diabetes_count}--></font>次<br />
           重性精神病随访<font color="Red"><!--{$individual[individual].schizophrenia_count}--></font>次<br />
           <strong>共有数据<font color="Red"><!--{$individual[individual].all_number}--></font>条</strong>
        </td>
        <td>
        	<!--{$individual[individual].address}-->
        </td>
		<td>
		    <!--{if $individual[individual].display==1}-->
		    <a href="<!--{$basePath}-->iha/cover/add/action/edit/uuid/<!--{$individual[individual].uuid}-->/opener/index">档案封面</a> &nbsp;&nbsp;
		    <a href="<!--{$basePath}-->iha/index/add/uuid/<!--{$individual[individual].uuid}-->/opener/index">编辑档案</a> &nbsp;&nbsp;

        	<!--{/if}-->
        </td>
	</tr>
	<!--{sectionelse}-->
	<tr>
		<td colspan="11">
        	暂时没有符合条件的数据
        </td>
	</tr>
	<!--{/section}-->
	<tr>
	   <td colspan="11" align="center">
	     <div style="float:left"><label><input type="checkbox" value="" name="ifAll" id="ifAll" onClick="return checkselect();"/>全选 </label>   
	     &nbsp;&nbsp;<input type="submit" onClick="return checkselected('<!--{$uuid}-->');"  name="delAll" value="删除" class="inputbutton"/>&nbsp;&nbsp;<!--{$pager}--></div>
	   </td>
	</tr>
  </form> 
 </tbody>
</table>
</body>
</html>
<script type="text/javascript">
//全选、反选
function checkselect() {
	  for (var i = 0; i < document.getElementsByName("selectFlag[]").length; i++) {
	   document.getElementsByName("selectFlag[]")[i].checked = document.getElementById("ifAll").checked;
	  }
	 }
//选中与否，有选中项才执行删除	 
function checkselected(uuid){
	var token=0;//标志
	$("input[name='selectFlag[]']").each(function(){
		//alert($(this).attr('checked'));
		
		if($(this).attr('checked')==true){
			token=1;//有选中项
		}	
	});
	if(token==1)
	{
		if(confirm('你真的要删除选中项么？删除后将不能恢复！请耐心等待，执行时间稍微长点！'))
		{
			//执行删除操作
			  $.post("<!--{$basePath}-->iha/repeat/delall",$("#form1").serialize(),function (msg) {
//			  	 alert(uuid);
			     alert(msg);
			     window.location='<!--{$basePath}-->iha/repeat/list/uuid/'+uuid;	///更新删除后页面
		      });
		         return false;
		}else{
			//取消删除
			return false;
		}
		//return false;
	}else{
		alert('没有选中要删除的项！');
		return false;
	}
}
</script>