<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>记量单位管理</title>
<link href="<!--{$__BASEPATH}-->views/templates/category/list.css" type="text/css" rel="stylesheet" />
</head>
<body bgcolor="#FFFFFF" text="#000000" link="#FF9966" vlink="#FF9966" alink="#FFCC99">
	<table class="categoryList">
		<tr>
		<td colspan="3">
			角色设置
		</td>
		</tr>
		<tr  class="title"><td>角色名称</td><td>权限管理</td><td>操作</td></tr>
	<!--{section name=roleList loop=$roleList}-->
		<tr>
			<td><!--{$roleList[roleList].description}--></td>
			<td><a  href="<!--{$__BASEPATH}-->management/aclRoleResource/list/id/<!--{$roleList[roleList].id}-->">进入</a></td>
			<td>
				<a  href="<!--{$__BASEPATH}-->management/role/display/id/<!--{$roleList[roleList].id}-->">编辑</a>
				<a  href="<!--{$__BASEPATH}-->management/role/delete/id/<!--{$roleList[roleList].id}-->" onclick="return confirm('是否确定')">删除</a>
			</td>
		</tr>
	<!--{/section}-->
	</table>
	<a href="<!--{$__BASEPATH}-->management/role/add">新增</a>
	<input type="hidden" id="message" name="message" value="<!--{$message}-->" />
</body>
</html>
<script type="text/javascript">
function $(id){
	return document.getElementById(id);
}
if($('message').value!=''){
	alert($('message').value);
}
</script>