<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>门诊疾病统计</title>
        <link rel="stylesheet" type="text/css" id="css" href="<!--{$basePath}-->views/styles/admincp.css">
        <link rel="stylesheet" type="text/css" id="css" href="<!--{$basePath}-->views/styles/tabs.css">
        <style>
            table {
                background: #ffffff;
            }
        </style>
        <!--引入jquery-->
        <script src="<!--{$basePath}-->views/js/jquery-1.4.2.js">
        </script>
        <script src="<!--{$basePath}-->views/js/calendar/WdatePicker.js" type="text/javascript">
        </script>
        <!--时间控件的加载!-->
        <link href="<!--{$basePath}-->views/js/calendar/skin/default/datePicker.css" rel="stylesheet" type="text/css" />
        <script language="javascript">AC_FL_RunContent = 0;</script>
		<script language="javascript"> DetectFlashVer = 0; </script>
		<script src="<!--{$basePath}-->library/charts/AC_RunActiveContent.js" language="javascript"></script>
		<script language="JavaScript" type="text/javascript">
		<!--
		var requiredMajorVersion = 10;
		var requiredMinorVersion = 0;
		var requiredRevision = 45;
		-->
		</script>
		<script src="<!--{$basePath}-->views/js/xml_charts.js" type="text/javascript"></script>
		<script src="<!--{$basePath}-->views/js/decision_list.js" type="text/javascript"></script>
    </head>
<table border="1">
<tr>
<td>
<script language="JavaScript" type="text/javascript">
showList("<!--{$basePath}-->admindecision/mz/bar/region/511028");
</script>
</td>
</tr>
</table>
<table border="1">
<tr>
	<td id='list_iha_archive_number'>
		<script language="JavaScript" type="text/javascript">
		showList("<!--{$basePath}-->admindecision/mz/list/region/511028",$('#list_iha_archive_number'));
		</script>
	</td>
</tr>
<tr>
	<td>
	<script language="JavaScript" type="text/javascript">
	show_chart("<!--{$basePath}-->admindecision/mz/bar","<!--{$basePath}-->",800,350,"mz_bar");
	</script>
	</td>
</tr>
</table>
</html>