@charset "utf-8";
/* CSS Document */
/*
.content { background-color:#43a5ac; background-image: -moz-linear-gradient(top, #41beb8, #07516c); background-image: linear-gradient(180deg, #41beb8 0%, #07516c 100%); position: fixed; height: 100%; width: 100%; }
*/
.boxes { height: 361px; width: 485px; margin-top: -160px; margin-left: -250px; position: absolute; left: 50%; top: 45%; background-image: url(../../images/login/us_00.png); padding-top: 20px; padding-right: 8px; padding-bottom: 20px; padding-left: 8px; }
.top { height: 18px; font-size: 10px; color: #53a1cf; padding-left: 5px; font-family: "宋体"; line-height: 18px; position: absolute; left: 8px; top: 20px; right: 8px; }
.middle { height: 170px; width: 300px; position: absolute; left: 90px; top: 147px; }
.foot { height: 18px; font-size: 10px; color: #53a1cf; padding-left: 5px; font-family: "宋体"; line-height: 18px; position: absolute; left: 8px; right: 8px; bottom: 20px; text-align: right; margin-right: 5px; }
.mtab{width: 380px;}
.mtab tr td { line-height: 30px; color: #000; }
.mtab .last td { line-height: 50px; height: 50px; }
.mtab .txt { width: 180px; border: solid 1px #c7c7c7; line-height: 21px; height: 21px; font-size: 14px; }
.mtab .est { width: 182px; border: solid 1px #c7c7c7; line-height: 21px; height: 21px; font-size: 14px; }
.last td span { display: block; float: left; width: 60px; }
body{background:#101D3F url(../../images/bodybg.jpg) center top no-repeat;font-family:"微软雅黑",Arial, Helvetica, sans-serif;font-size:12px}
table{width: 950px;text-align: center;}
#suggest,#suggest2{width:340px;font-size:12px; font-weight:normal;}
 .gray{color:gray;}
 .ac_results {background:#fff;border:1px solid #7f9db9;position: absolute;z-index: 10000;display: none;width:260px;text-align:left}
 .ac_results ul{margin:0;padding:0;list-style:none;}
 .ac_results li a{white-space: nowrap;text-decoration:none;display:block;color:#05a;padding:1px 3px;}
.ac_results li{border:1px solid #fff;}
.ac_over,.ac_results li a:hover {background:#c8e3fc;}
.ac_results li a span{float:right;}
.ac_result_tip{border-bottom:1px dashed #666;padding:3px;}
#logo{
    background:url(../../../images/logo_title.png) no-repeat;
    *background:none;
    height: 65px;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../../images/logo_title.png");
}