<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0,user-scalable=no" />
<title>居民健康掌中宝</title>
<link rel="stylesheet" type="text/css" href="<!--{$basePath}-->views/styles/mobileindex.css"/>

</head>
<body>
<div class="ui-mobile-viewport">
  <div class="content" style="zoom:0.6667">
    <div class="absorbs one"><a href="#" title="健康教育">体检信息</a></div>
    <div class="absorbs two"><a href="#" title="高血压">慢病信息</a></div>
    <div class="absorbs three"><a href="#" title="健康体检">健康信息</a></div>
    <div class="absorbs four"><a href="#" title="基本档案">个人信息</a></div>
    <div class="absorbs six"><a href="#" title="孕产妇管理">预约挂号</a></div>
    <div class="absorbs seven"><a href="#" title="精神疾病">随访通知</a></div>
    <div class="absorbs eight"><a href="#" title="糖尿病">就诊查询</a></div>
    <div class="absorbs five"><a href="#" title="老年人服务管理">用户登录</a></div>
  </div>
  <div class="ui-footer"><a href="#">登陆</a></div>
</div>
</body>
</html>
