/*以下是list所特有的样式区*/
.categoryList a{
	/*display:block;*/
	text-decoration:none;
	color:#000000;	
}
.categoryList a:hover{
	text-decoration:underline;
	color:#000000;
}
.title{
	background-color:#EBF3FB;
}
table{
	font-size:14px;  /*表格*/
	padding-left:11px;
	border-collapse:collapse;
	border:#000000 1px solid;
	background-color:#EFEFEF;
}
.tr{
	background-color:#336699;
	color:#FFFFFF;
	height:20px;
}
td{
	border:#000000 1px solid;
	height:20px;
}