<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>类别管理</title>
<link href="/views/templates/category/list.css" type="text/css" rel="stylesheet" />
</head>
<body bgcolor="#FFFFFF" text="#000000" link="#FF9966" vlink="#FF9966" alink="#FFCC99">
	<table class="categoryList">
		<tr>
		<td colspan="3">
			<!--{$navigation}-->
		</td>
		</tr>
		<tr  class="title"><td>类别名称</td><td>管理</td><td>操作</td></tr>
	<!--{section name=categoryList loop=$categoryList}-->
		<tr>
			<td><!--{$categoryList[categoryList].description}--></td>
			<td>
				<a  href="/goods/category/list/categoryId/<!--{$categoryList[categoryList].categoryId}-->">浏览子类</a>
				<a  href="/goods/property/list/categoryId/<!--{$categoryList[categoryList].categoryId}-->">设置属性</a>
<!--				<a  href="/goods/measurement/list/categoryId/<!--{$categoryList[categoryList].categoryId}-->" onclick="return confirm('计量单位仅定义在最末一级有效')">设置计量单位</a>-->
			</td>
			<td>
				<a  href="/goods/category/display/categoryId/<!--{$categoryList[categoryList].categoryId}-->">编辑</a>
				<a  href="/goods/category/delete/categoryId/<!--{$categoryList[categoryList].categoryId}-->" onclick="return confirm('是否确定？如果该类已有子类，则不能删除。')">删除</a>
			</td>
		</tr>
	<!--{/section}-->
	</table>
	<font color="Red"><!--{$noRecordMessage}--></font>
	</div>
	<a href="/goods/category/add/categoryId/<!--{$categoryId}-->">新增</a>
	<a href="/goods/category/list/categoryId/<!--{$parentId}-->">返回</a>
	<input type="hidden" id="message" name="message" value="<!--{$message}-->" />
</body>
</html>
<script type="text/javascript">
function $(id){
	return document.getElementById(id);
}

if($('message').value!=''){
	alert($('message').value);
}
</script>