<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
<link rel="stylesheet" href="<!--{$basePath}-->views/styles/jquerymobile.min.css" rel="stylesheet" type="text/css" media="screen" />
<script src="<!--{$basePath}-->views/js/jquery-1.9.1.min.js"></script>
<script src="<!--{$basePath}-->views/js/jquerymobile.min.js"></script>

<style>
.hospital ul li{
	list-style:none;
	float:left;
	margin:20px;
}

</style>
<div data-role="page" id="page1">
 <div data-theme="a" data-role="header">
        <h3>
            <!--{$title}-->
        </h3>
    </div>
<div class="hospital">
	<ul>
		<li><a ><img src="<!--{$basePath}-->views/images/android/hos_yyjx.png" width=60px;/><br/>医院介绍</a></li>
		<li><a><img src="<!--{$basePath}-->views/images/android/hos_lxfs.png" width=60px;/><br/>联系方式</a></li>
		<li><a href="<!--{$basePath}-->android/hospital/doctor/org_id/<!--{$org_id}-->"><img src="<!--{$basePath}-->views/images/android/hos_yyzj.png" width=60px;/><br/>医院专家</a></li>
		<li><img src="<!--{$basePath}-->views/images/android/hos_yydt.png" width=60px;/><br/>医院地图</li>
		<li><img src="<!--{$basePath}-->views/images/android/hos_ghzx.png" width=60px;/><br/>挂号咨询</li>
		<li><a href="<!--{$basePath}-->android/hospital/department"><img src="<!--{$basePath}-->views/images/android/hos_ksjx.png" width=60px;/><br/>科室介绍</a></li>
		<div class='clear'></div>
	</ul>
	
</div>
</div>


</html>