<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<style>
html, body {
	background: #dae6f3;
	font: 14px Arial, Helvetica, sans-serif;
}
table{
	font-size:14px;  /*表格*/
	padding-left:11px;
	border-collapse:collapse;
	border:#000000 1px solid;
	background-color:#EFEFEF;
	align:center;
}
.tr{
	background-color:#CCCCCC;
	color:#000000;	
}
td{
	border:#000000 1px solid;
	height:18px;
}
.td1{
}
fieldset{
	width:400px;
	border:1px solid #33CCFF;
	text-align:auto;
	padding:10px;
}
div{
	float:left;
	margin:0px 0px 0px 0px;padding:0px 5px 0px 5px;border:1px solid #DEDEB8;
	font-size:12px;
}
div.div1{
	float:left;
	margin:0px 0px 0px 0px;padding:0px 0px 0px 5px;border:0px;

}
a{
	text-decoration:none;
	font-size:12px;
}
</style>
</head>

<body>
<form method="POST" action="/management/base_info/edit" >
<input type="hidden" id="uuid" name="uuid" value="!--{$uuid}--">
<fieldset><legend>单位基本信息管理</legend>
<table width="95%">
  <tr class="tr">
    <td width="20%">单位名称</td>
    <td><input type="text" id="org_name" name="org_name" value="!--{$org_name}--" maxlength="30" size="30"></td>
  </tr>
  <tr class="tr">
    <td>单位地址</td>
    <td><input type="text" id="address" name="address" value="!--{$address}--" maxlength="30" size="30"></td>
  </tr>
  <tr class="tr">
    <td>邮编</td>
    <td><input type="text" id="postalcode" name="postalcode" value="!--{$postalcode}--"></td>
  </tr>
  <tr class="tr">
    <td>电话1</td>
    <td><input type="text" id="phone1" name="phone1" value="!--{$phone1}--"></td>
  </tr>
  <tr class="tr">
    <td>电话2</td>
    <td><input type="text" id="phone2" name="phone2" value="!--{$phone2}--"></td>
  </tr>
  <tr class="tr">
    <td>电子邮箱</td>
    <td><input type="text" id="e_mail" name="e_mail" value="!--{$e_mail}--"></td>
  </tr>
  <tr class="tr">
    <td>管理密码</td>
    <td><input type="text" id="password" name="password" value="!--{$password}--"  maxlength="10" size="10"></td>
  </tr>
</table>
<input type="button" name="ajaxsave" id="ajaxsave" value="保存" onclick="testajaxsave()"/>
</fieldset>
</form>
</body>
</html>
<script language="javascript">
var old_value;
/**
本程序用于保存表单被修改前的所有值。以数组的形式存储在old_value里
但实际意思不大，因为即时少提交数据上去，在服务器端也要花时间来判断哪些提交上去，哪些没有提交上去了。
*/
function save_old_value()
{
	old_value=="{"
	//alert(old_value);
	var i;
	for(i=0;i<document.all.length;i++)
	{
		//alert(document.all.item(i).tagName);
		obj=document.all.item(i);
		if(obj.tagName=='INPUT' || obj.tagName=='SELECT' || obj.tagName=='TEXTAREA')
		{
			//old_value[obj.id]=obj.value;
			old_value=old_value+"'"+obj.id+"':'"+obj.value+"',"
		}
	}
	//alert(old_value.length);
	old_value=old_value.substring(0,old_value.length-1);
	old_value=old_value+"}";
	old_value=eval('('+old_value+')');
	//alert(old_value);
	//alert(old_value['name']);
}
/**
全局变量xmlHttp对象实例
*/
var xmlHttp = false;
/**
本函数实现用ajax的方法保存表单数据
 */
function change_state()
{
	obj_save_button=document.getElementById('ajaxsave');
	if(obj_save_button.value=='保存')
	{
		obj_save_button.value='正在保存数据';
		obj_save_button.disabled=true;
	}
	else
	{
		if (xmlHttp.readyState == 4)
		{
			obj_save_button.value='保存';
			obj_save_button.disabled=false;
			alert(xmlHttp.responseText);
		}
	}
	return;
}
function testajaxsave()
{
	xmlHttp=xmlhttp_factory();
	//xmlHttp.setRequestHeader( "Content-Type" , "multipart/form-data");
	post_string="/management/base_info/edit/id="+Math.random();
	//这样处理的主要目的是防止缓存
	xmlHttp.open("POST", post_string, true);//true为异步，false为同步
	xmlHttp.setRequestHeader( " Content-Type " , " application/x-www-form-urlencoded " );
	var str=get_value();
	//alert(str);
	xmlHttp.onreadystatechange= change_state;
	xmlHttp.send(str);
	//xmlHttp.onreadystatechange= change_state;
}
function get_value()
{
	var i;
	var str='';
	var value='';
	for(i=0;i<document.all.length;i++)
	{
		//alert(document.all.item(i).tagName);
		obj=document.all.item(i);
		if(obj.tagName=='INPUT' || obj.tagName=='SELECT' || obj.tagName=='TEXTAREA')
		{
			//判断值是否被修改，如果修改才上传
			//if(obj.value==old_value[obj.id])
			//{
				
				//continue;
			//}
			if(obj.type=='radio' || obj.type=='checkbox')
			{
				if(obj.checked)
				{
					value=value+obj.name+'='+obj.value+"&";
				}
			}
			else
			{
				value=value+obj.name+'='+obj.value+"&";
			}
		}
		//	str=str+obj.tagName+" "+obj.name+" "+obj.type+" "+obj.value+"\n";
	}
	value=value+"end=end";	
	//alert(value);
	return value;

}
function get_obj()
{
	var i;
	var str='';
	var value='';
	for(i=0;i<document.all.length;i++)
	{
		//alert(document.all.item(i).tagName);
		obj=document.all.item(i);
		if(obj.tagName=='INPUT' || obj.tagName=='SELECT' || obj.tagName=='TEXTAREA')
		{
			str=str+obj.tagName+" "+obj.name+" "+obj.type+" "+obj.value+"\n";
			value=value+obj.name+'='+obj.value
			if(i<document.all.length-1)
			{
				value=value+"&";
			}
		}
			str=str+obj.tagName+" "+obj.name+" "+obj.type+" "+obj.value+"\n";
	}	
		alert(str);

}
/**
实例化一个http对象
*/
function xmlhttp_factory()
{
	/*@cc_on @*/
	/*@if (@_jscript_version >= 5)
	try {
		xmlHttp = new ActiveXObject("Msxml2.XMLHTTP");
	} catch (e) {
		try {
			xmlHttp = new ActiveXObject("Microsoft.XMLHTTP");
		} catch (e2) {
			xmlHttp = false;
		}
	}
	@end @*/
	if (!xmlHttp && typeof XMLHttpRequest != 'undefined') {
		xmlHttp = new XMLHttpRequest();
	}	
	return xmlHttp;
}
</script>