<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<style>
html, body {
	background: #dae6f3;
	font: 14px Arial, Helvetica, sans-serif;
}
table{
	font-size:12px;  /*表格*/
	padding-left:11px;
	border-collapse:collapse;
	border:#000000 1px solid;
	background-color:#EFEFEF;
}
.tr{
	background-color:#336699;
	color:#FFFFFF;	
}
td{
	border:#000000 1px solid;
	height:18px;
}
.td1{
}
fieldset{
	width:100%;
	border:1px solid #33CCFF;
	text-align:center;
}
fieldset legend{
	border:1px solid #33CCFF;
	padding:2px;
	margin:2px;
	font-weight:bold;
}
.pos_menu{
	
	/*margin:0px 0px 0px 0px;padding:0px 5px 0px 5px;border:1px solid #DEDEB8;*/
	margin 0px;
	padding 0px;
	font-size:12px;
	cursor:hand;
	
}
.pos_body{
	
	/*margin:0px 0px 0px 0px;padding:0px 5px 0px 5px;border:1px solid #DEDEB8;*/
	margin 0px;
	padding 0px;
	font-size:12px;
	cursor:hand;
	
}
div.div1{
	margin:0px 0px 0px 0px;padding:0px 0px 0px 5px;border:0px;

}
a{
	float:left;	
	text-decoration:none;
	font-size:12px;
}
</style>
</head>
<!--
菜单用主栏目，页面用子栏目  
-->
<body>
<fieldset><legend>菜单管理</legend>
<table width="98%" border="1" cellspacing="1" cellpadding="1">
  <tr>
    <td>首页</td>
    <td>栏目一</td>
    <td>栏目二</td>
    <td>栏目三</td>
    <td>栏目四</td>
    <td>栏目五</td>
    <td>栏目六</td>
    <td>栏目七</td>
    <td>栏目八</td>
    <td>栏目九</td>
    <td>栏目十</td>
  </tr>
  <tr>
    <td>首页</td>
    <td onclick="alert('此位置为固定栏目，请将［学院简介］等栏目放置于此');">
    !--{$menu_1}--
    </td>
    <td>
    <div id="menu_2" class="pos_menu" menuID='!--{$menu_id_2}--' onclick="myOpenWindow('menu',this)">!--{$menu_2}--</div>
    </td>
    <td>
    <div id="menu_3" class="pos_menu" menuID='!--{$menu_id_3}--' onclick="myOpenWindow('menu',this)">!--{$menu_3}--</div>
    </td>
    <td>
    <div id="menu_4" class="pos_menu" menuID='!--{$menu_id_4}--' onclick="myOpenWindow('menu',this)">!--{$menu_4}--</div>
    </td>
    <td>
    <div id="menu_5" class="pos_menu" menuID='!--{$menu_id_5}--' onclick="myOpenWindow('menu',this)">!--{$menu_5}--</div>
    </td>
    <td>
    <div id="menu_6" class="pos_menu" menuID='!--{$menu_id_6}--' onclick="myOpenWindow('menu',this)">!--{$menu_6}--</div>
    </td>
    <td>
    <div id="menu_7" class="pos_menu" menuID='!--{$menu_id_7}--' onclick="myOpenWindow('menu',this)">!--{$menu_7}--</div>
    </td>
    <td>
    <div id="menu_8" class="pos_menu" menuID='!--{$menu_id_8}--' onclick="myOpenWindow('menu',this)">!--{$menu_8}--</div>
    </td>
    <td>
    <div id="menu_9" class="pos_menu" menuID='!--{$menu_id_9}--' onclick="myOpenWindow('menu',this)">!--{$menu_9}--</div>
    </td>
    <td>
    <div id="menu_10" class="pos_menu" menuID='!--{$menu_id_10}--' onclick="myOpenWindow('menu',this)">!--{$menu_10}--</div>
    </td>
 </tr>
</table>
<br />
</fieldset>
<p></p>
<fieldset><legend>页面管理</legend>
<table width="98%" border="1" cellspacing="1" cellpadding="1">
  <tr>
    <td width="272">栏目十一</td>
    <td width="644">栏目二十一</td>
  </tr>
  <tr>
    <td>
    	<!--注：菜单区的menu_id_x 与　页面区的menu_id_x都是存储菜单的id，但菜单区的menu_id_x　是menu_id ,而　页面区的menu_id_x　是sub_menu_id--->
    	<div id="menu_11" class="pos_body" menuID='!--{$menu_id_11}--' onclick="myOpenWindow('body',this)">!--{$menu_11}--</div>
    </td>
    <td>
	    <div id="menu_21" class="pos_body" menuID='!--{$menu_id_21}--' onclick="myOpenWindow('body',this)">!--{$menu_21}--</div>
    </td>
  </tr>
  <tr>
    <td>栏目十二</td>
    <td>栏目二十二</td>
  </tr>
  <tr>
    <td>
	    <div id="menu_12" class="pos_body" menuID='!--{$menu_id_12}--' onclick="myOpenWindow('body',this)">!--{$menu_12}--</div>
    </td>
    <td>
	    <div id="menu_22" class="pos_body" menuID='!--{$menu_id_22}--' onclick="myOpenWindow('body',this)">!--{$menu_22}--</div>
    </td>
  </tr>
  <tr>
    <td>栏目十三</td>
    <td>栏目二十三</td>
  </tr>
  <tr>
    <td>
	    <div id="menu_13" class="pos_body" menuID='!--{$menu_id_13}--' onclick="myOpenWindow('body',this)">!--{$menu_13}--</div>
    </td>
    <td>
	    <div id="menu_23" class="pos_body" menuID='!--{$menu_id_23}--' onclick="myOpenWindow('body',this)">!--{$menu_23}--</div>
    </td>
  </tr>
  <tr>
    <td>栏目十四</td>
    <td>栏目二十四</td>
  <tr>
    <td>
	    <div id="menu_14" class="pos_body" menuID='!--{$menu_id_14}--' onclick="myOpenWindow('body',this)">!--{$menu_14}--</div>
    </td>
    <td>
	    <div id="menu_24" class="pos_body" menuID='!--{$menu_id_24}--' onclick="myOpenWindow('body',this)">!--{$menu_24}--</div>
    </td>
  </tr>
   <tr>
    <td>栏目十五</td>
    <td>栏目二十五</td>
  </tr> 
    <tr>
    <td>
	    <div id="menu_15" class="pos_body" menuID='!--{$menu_id_15}--' onclick="myOpenWindow('body',this)">!--{$menu_15}--</div>
    </td>
    <td>
	    <div id="menu_25" class="pos_body" menuID='!--{$menu_id_25}--' onclick="myOpenWindow('body',this)">!--{$menu_25}--</div>
    </td>
  </tr> 	
    <tr>
    <td>栏目十六</td>
    <td>&nbsp;</td>
  </tr> 	 
    <tr>
    <td>
	    <div id="menu_16" class="pos_body" menuID='!--{$menu_id_16}--' onclick="myOpenWindow('body',this)">!--{$menu_16}--</div>
    </td>
    <td>&nbsp;</td>
  </tr> 	
    <tr>
    <td>栏目十七</td>
    <td>&nbsp;</td>
  </tr> 	 
    <tr>
    <td>
	    <div id="menu_17" class="pos_body" menuID='!--{$menu_id_17}--' onclick="myOpenWindow('body',this)">!--{$menu_17}--</div>
    </td>
    <td>&nbsp;</td>
  </tr> 	
    <tr>
    <td>栏目十八</td>
    <td>&nbsp;</td>
  </tr> 	 
    <tr>
    <td>
	    <div id="menu_18" class="pos_body" menuID='!--{$menu_id_18}--' onclick="myOpenWindow('body',this)">!--{$menu_18}--</div>
    </td>
    <td>&nbsp;</td>
  </tr> 	
    <tr>
    <td>栏目十九</td>
    <td>&nbsp;</td>
  </tr> 	 
    <tr>
    <td>
	    <div id="menu_19" class="pos_body" menuID='!--{$menu_id_19}--' onclick="myOpenWindow('body',this)">!--{$menu_19}--</div>
    </td>
    <td>&nbsp;</td>
  </tr> 	
    <tr>
    <td>栏目二十</td>
    <td>&nbsp;</td>
  </tr> 	   
  <tr>
    <td>
	    <div id="menu_20" class="pos_body" menuID='!--{$menu_id_20}--' onclick="myOpenWindow('body',this)">!--{$menu_20}--</div>
    </td>
    <td>&nbsp;</td>
  </tr> 	
   	
</table>
<br />
</fieldset>
</body>
</html>
<script type="text/javascript">
function myOpenWindow(type,obj){
	url="/management/layout";
	//页面上的栏目位置与对应栏目的设定
	var temp=obj.id.split("_");
	var position=temp[1];
	if(type=='body'){
		url=url+"/layout_body_display/position/"+position+"/sub_menu_id/"+obj.menuID;
	}
	//菜单上的栏目位置与对应栏目的设定
	if(type=='menu'){
		url=url+"/layout_menu_display/position/"+position+"/menu_id/"+obj.menuID;
	}
	//alert(url);
	//var objDiv=document.getElementById(id);
	//alert(url);
	window.showModalDialog(url,obj,'DialogWidth:350px;DialogHeight:250px;help:no;status:no');
}

</script>
