<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" id="css" href="<!--{$basePath}-->views/styles/admincp.css" />
<link rel="stylesheet" type="text/css" id="css" href="<!--{$basePath}-->views/styles/tabs.css" />
<link type="text/css" rel="stylesheet" href="<!--{$basePath}-->views/styles/validator.css" />
<link type="text/css" rel="stylesheet" href="<!--{$basePath}-->views/styles/vtip.css" />
<title>住院收费明细详细</title>
<style type="text/css">
  input
	{
		border:1px solid blue;
	}
</style>
</head>
<body>
<table align="center" width="100%">
<thead>
<tr class="headbg">
  <th colspan="4" style="font-size:16px;text-align:center;">住院收费明细详细</th>
</tr>
</thead>
<tr>
  <td >医疗机构</td>
  <td ><!--{$tb_his_zy_fee_detail->yljgdm}--></td>
  <td >住院就诊流水号</td>
  <td ><!--{$tb_his_zy_fee_detail->jzlsh}--></td>
</tr>
<tr>
  <td>患者姓名</td>
  <td><!--{$tb_yl_patient_information->xm}--></td>
  <td>患者性别</td>
  <td><!--{$tb_yl_patient_information->xb}--></td>
</tr>
<tr>
  <td>卡号</td>
  <td><!--{$tb_his_zy_fee_detail->kh}--></td>
  <td>卡类型</td>
  <td><!--{$tb_his_zy_fee_detail->klx}--></td>
</tr>
<tr>
  <td>收费明细ID</td>
  <td><!--{$tb_his_zy_fee_detail->sfmxid}--></td>
  <td>退费标志</td>
  <td><!--{$tb_his_zy_fee_detail->xgbz}--></td>
</tr>
<td>相关医嘱ID</td>
<td><!--{$tb_his_zy_fee_detail->yzid}--></td>
<td>医嘱下达人工号</td>
<td><!--{$tb_his_zy_fee_detail->xdrgh}--></td>
</tr>
<tr>
  <td>发票号</td>
  <td><!--{$tb_his_zy_fee_detail->fph}--></td>
  <td>明细费用类别</td>
  <td><!--{$tb_his_zy_fee_detail->mxfylb}--></td>
</tr>
<tr>
  <td>收费/退费时间</td>
  <td><!--{$tb_his_zy_fee_detail->stfsj}--></td>
  <td>明细项目编码</td>
  <td><!--{$tb_his_zy_fee_detail->mxxmbm}--></td>
</tr>
<tr>
  <td>明细项目名称</td>
  <td><!--{$tb_his_zy_fee_detail->mxxmmc}--></td>
  <td>项目分类编码</td>
  <td><!--{$tb_his_zy_fee_detail->xmflbm}--></td>
</tr>
<tr>
  <td>项目分类名称</td>
  <td><!--{$tb_his_zy_fee_detail->xmflmc}--></td>
  <td>明细项目单位</td>
  <td><!--{$tb_his_zy_fee_detail->yzzzsj}--></td>
</tr>
<tr>
  <td>明细项目单价</td>
  <td><!--{$tb_his_zy_fee_detail->mxxmdj}--></td>
  <td>明细项目数量</td>
  <td><!--{$tb_his_zy_fee_detail->mxxmsl}--></td>
</tr>
<tr>
  <td>明细项目金额</td>
  <td colspan="3"><!--{$tb_his_zy_fee_detail->mxxmje}--></td>
</tr>
<tr class="endbg">   
  <td colspan="4" style="text-align:center;">
	<input type="button" name="button" value="返回列表" onclick="javascript:history.back(-1)" />
  </td>
</tr>
</table>
</body>
</html>