<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>商品管理</title>
<link href="/views/templates/stock/display.css" type="text/css" rel="stylesheet" />
<style>
iframe{
	border:none;
	border-bottom:solid 1px #000000;
	margin:0px;
	padding:0px;
}
</style>
</head>
<body bgcolor="#FFFFFF" text="#000000" link="#FF9966" vlink="#FF9966" alink="#FFCC99">
<iframe src="<!--{$frame1Src}-->" id="frame1" name="frame1" height="150" width="95%" scrolling="auto" frameborder="0"></iframe>
<iframe src="<!--{$frame2Src}-->" id="frame2" name="frame2" height="160" width="95%" scrolling="No" frameborder="0"></iframe>
<iframe src="<!--{$frame3Src}-->" id="frame3" name="frame3" height="200" width="95%" frameborder="0"></iframe>
</body>
</html>
