<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>县级监管平台左菜单</title>
<link rel="stylesheet" type="text/css" href="<!--{$basePath}-->views/styles/lead/site.css"/>
<link rel="stylesheet" type="text/css" href="<!--{$basePath}-->views/styles/lead/index.css"/>
<script type="text/javascript" src="<!--{$basePath}-->views/js/lead/min.js"></script>
<style type="text/css">
html { overflow: hidden; overflow-y: scroll; scrollbar-face-color: #e6eaf0; scrollbar-highlight-color: #e6eaf0; scrollbar-shadow-color: #9eaeb9; scrollbar-darkshadow-color: #9eaeb9; scrollbar-3dlight-color: #9eaeb9; scrollbar-arrow-color: #ffffff; scrollbar-track-color: #9eaeb9; }
</style>
</head>
<body>
<div class="left">
  <div class="main_menu">
    <h3 class="lmo_title"><span ></span>机构信息监管</h3>
    <ul class="lmo_ctone" >
      <li><a target="mainFrame" href="<!--{$basePath}-->decision/orgbase/index">基本信息统计</a></li>
      <li><a target="mainFrame" href="<!--{$basePath}-->decision/orguser/index">机构人员统计</a></li>
      <li><a target="mainFrame" href="<!--{$basePath}-->decision/orgbed/index">床位信息统计</a></li>
      <li><a target="mainFrame" href="<!--{$basePath}-->decision/orgbuild/index">建筑信息统计</a></li>
      <li><a target="mainFrame" href="<!--{$basePath}-->decision/orgequipment/index">设备信息统计</a></li>
      <li><a target="mainFrame" href="<!--{$basePath}-->decision/orginout/index">收入支出统计</a></li>
      <li><a target="mainFrame" href="<!--{$basePath}-->decision/orgassets/index">资产负债统计</a></li>
      <li><a target="mainFrame" href="<!--{$basePath}-->decision/orginfo/index">医疗服务统计</a></li>
      <li><a target="mainFrame" href="<!--{$basePath}-->decision/orggeneral/index">基本信息概述</a></li>
    </ul>
    <h3 class="lmo_title"><span></span>基本档案监管</h3>
    <ul class="lmo_ctone">
      <li><a target="mainFrame" href="<!--{$basePath}-->decision/base/list">建档率统计</a></li>
      <li><a target="mainFrame" href="<!--{$basePath}-->decision/rate/index">平均档案完整率</a></li>
      <li><a target="mainFrame" href="<!--{$basePath}-->decision/fullrate/index/">档案完整率分段统计</a></li>

    </ul>
    <h3 class="lmo_title"><span></span>档案体检监管</h3>
    <ul class="lmo_ctone">
      <li><a target="mainFrame" href="<!--{$basePath}-->decision/et/list">档案体检建档率</a></li>
     
    </ul>
    <h3 class="lmo_title"><span></span>健康教育活动监管</h3>
    <ul class="lmo_ctone">
      <li><a target="mainFrame" href="<!--{$basePath}-->decision/he/index">综合统计</a></li>
      <li><a target="mainFrame" href="<!--{$basePath}-->decision/he/index/model/m1">发放印刷资料</a></li>
      <li><a target="mainFrame" href="<!--{$basePath}-->decision/he/index/model/m2">播放音像资料</a></li>
      <li><a target="mainFrame" href="<!--{$basePath}-->decision/he/index/model/m3">咨询活动</a></li>
    </ul>
    <h3 class="lmo_title"><span></span>慢病综合统计</h3>
    <ul class="lmo_ctone">
      <li class="haslist"><a href="javascript:;">高血压</a>
        <div class="list_ls">
          <p><a href="<!--{$basePath}-->decision/hypertension/index" target="mainFrame">综合统计</a></p>
          <p><a href="<!--{$basePath}-->decision/hypertension/index/model/m1" target="mainFrame">健康管理率</a></p>
          <p><a href="<!--{$basePath}-->decision/hypertension/index/model/m2" target="mainFrame">规范管理率</a></p>
          <p><a href="<!--{$basePath}-->decision/hypertension/index/model/m3" target="mainFrame">血压控制率</a></p>
        </div>
      </li>
      <li class="haslist"><a href="javascript:;">糖尿病</a>
        <div class="list_ls">
          <p><a href="<!--{$basePath}-->decision/diabetes/index" target="mainFrame">综合统计</a></p>
          <p><a href="<!--{$basePath}-->decision/diabetes/index/model/m1" target="mainFrame">健康管理率</a></p>
          <p><a href="<!--{$basePath}-->decision/diabetes/index/model/m2" target="mainFrame">规范管理率</a></p>
          <p><a href="<!--{$basePath}-->decision/diabetes/index/model/m3" target="mainFrame">血糖控制率</a></p>
        </div>
      </li>
      <li class="haslist"><a href="javascript:;">重性精神分裂</a>
        <div class="list_ls">
          <p><a href="<!--{$basePath}-->decision/schizophrenia/index" target="mainFrame">综合统计</a></p>
          <p><a href="<!--{$basePath}-->decision/schizophrenia/mentalillness" target="mainFrame">患者管理率</a></p>
          <p><a href="<!--{$basePath}-->decision/schizophrenia/standadmin" target="mainFrame">规范管理率</a></p>
          <p><a href="<!--{$basePath}-->decision/schizophrenia/goodrate" target="mainFrame">患者稳定率</a></p>
        </div>
      </li>
     
    </ul>
    <h3 class="lmo_title"><span></span>老年人服务监管</h3>
    <ul class="lmo_ctone">
      <li><a target="mainFrame" href="<!--{$basePath}-->decision/statistics/list">老年人考核统计</a></li>
      
    </ul>
    <h3 class="lmo_title"><span></span>孕产妇健康监管</h3>
    <ul class="lmo_ctone">
      <li><a target="mainFrame" href="<!--{$basePath}-->decision/maternal/index">综合统计</a></li>
      <li><a target="mainFrame" href="<!--{$basePath}-->decision/maternal/index/model/m1">产前随访</a></li>
      <li><a target="mainFrame" href="<!--{$basePath}-->decision/maternal/index/model/m2">产后访视</a></li>
      <li><a target="mainFrame" href="<!--{$basePath}-->decision/maternal/index/model/m3">产后体检</a></li>
    </ul>
    <h3 class="lmo_title"><span></span>儿童健康监管</h3>
    <ul class="lmo_ctone">
      <li><a target="mainFrame" href="<!--{$basePath}-->decision/children/index">儿童健康管理率统计</a></li>
    
    </ul>
    
    <h3 class="lmo_title"  ><span></span><a  onclick="window.top.location.href='<!--{$basePath}-->loging/index/leadindex'">退出</a></h3>
  </div>
</div>
</body>
</html>
<script type="text/javascript">
$(document).ready(function() {
    $('.main_menu .lmo_title').click(function(){
		var n=$(this).index()/2;
		if($('.main_menu .lmo_ctone').eq(n).css('display')=='none'){
			$('.main_menu .lmo_title').eq(n).children('span').css({backgroundImage:'url(<!--{$basePath}-->views/images/lead/ss_05.png)'});
			$('.main_menu .lmo_ctone').eq(n).slideDown().siblings('.main_menu .lmo_ctone').slideUp();
		}else{
			$('.main_menu .lmo_ctone').eq(n).slideUp();
			$('.main_menu .lmo_title').eq(n).children('span').css({backgroundImage:'url(<!--{$basePath}-->views/images/lead/ss_04.png)'});
		}
	});
	$('.lmo_ctone .haslist a').click(function(){
		$(this).siblings('.haslist .list_ls').slideToggle();
	})
});
</script>