<!Doctype html public "-//w3c//dtd html 4.01 transitional//en" "http://www.w3.org/tr/html4/loose.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" id="css" href="<!--{$basePath}-->views/styles/admincp.css" />
<link rel="stylesheet" type="text/css" id="css" href="<!--{$basePath}-->views/styles/tabs.css" />
<link type="text/css" rel="stylesheet" href="<!--{$basePath}-->views/styles/validator.css" />
<link type="text/css" rel="stylesheet" href="<!--{$basePath}-->views/styles/vtip.css" />
<title>详细信息</title>
<style>
	table
	{
		background:#ffffff;
	}
	input
	{
		border:1px solid blue;
	}


</style>
<!--引入jquery-->
<script src="<!--{$basepath}-->views/js/jquery-1.4.2.js"></script>
<script src="<!--{$basepath}-->views/js/vtip.js" type="text/javascript"></script>
</head>
<body>
<table border="0" width="100%">
	<thead>
	<tr class="headbg">
		<th colspan="4" style="font-size:16px;text-align:center;">详细信息</th>
    </tr>
    </thead>
    <thead>
	<tr class="headbg">
		<th colspan="4" style="font-size:16px;text-align:left;">体检报告首页</th>
    </tr>
    </thead>
		<tr>
        <td>体检编号</td>
        <td>
        	<!--{$tb_yl_tjbgsy->tjbh}-->
        </td>
        <td>
        	医疗机构代码
        </td>
        <td>
        	<!--{$tb_yl_tjbgsy->yljgdm}-->
        </td>
    </tr>
    <tr>
        <td>体检类别代码</td><td ><!--{$tb_yl_tjbgsy->tjlbdm}--></td>
        <td>卡号</td><td><!--{$tb_yl_tjbgsy->kh}--></td>
    </tr>
    <tr>
        
        <td>卡类型</td><td><!--{$tb_yl_tjbgsy->klx}--></td>
         <td>姓名</td><td><!--{$tb_yl_tjbgsy->xm}--></td>
    </tr>
    <tr>
       
        <td>性别</td><td><!--{$tb_yl_tjbgsy->xb}--></td>
        <td>年龄</td><td><!--{$tb_yl_tjbgsy->nl}--></td>
    </tr>
    <tr>
        
        <td>出生日期</td><td><!--{$tb_yl_tjbgsy->csrq}--></td>
         <td>婚姻状况</td><td><!--{$tb_yl_tjbgsy->hyzk}--></td>
    </tr>
    <tr>
       
        <td>职业名称</td><td><!--{$tb_yl_tjbgsy->zymc}--></td>
        <td>职业类别代码</td><td><!--{$tb_yl_tjbgsy->zylbdm}--></td>
    </tr>
    <tr>
    	
        <td>生活习惯-工作运动</td><td><!--{$tb_yl_tjbgsy->shxg_gzyd}--></td>
        <td>生活习惯-睡眠</td><td><!--{$tb_yl_tjbgsy->shxg_sm}--></td>

    </tr>
     <tr>
    	
        <td>生活习惯-饮食情况</td><td><!--{$tb_yl_tjbgsy->shxg_ysqk}--></td>
        <td>生活习惯-其它</td><td><!--{$tb_yl_tjbgsy->shxg_j}--></td>

    </tr>
     <tr>    	
        <td>曾患何种疾病</td><td><!--{$tb_yl_tjbgsy->chhzjb}--></td>
        <td>曾做过何种手术</td><td><!--{$tb_yl_tjbgsy->czghzss}--></td>
    </tr>
     <tr>    	
        <td>外伤史</td><td><!--{$tb_yl_tjbgsy->wss}--></td>
        <td>精神创伤史</td><td><!--{$tb_yl_tjbgsy->jscs}--></td>
    </tr>
     <tr>    	
        <td>女士月经初潮</td><td><!--{$tb_yl_tjbgsy->nsyjscc}--></td>
        <td>女士月经周期</td><td><!--{$tb_yl_tjbgsy->nsyjszq}--></td>
    </tr>
     <tr>    	
        <td>女士月经史-白带</td><td><!--{$tb_yl_tjbgsy->nsyjs_bd}--></td>
        <td>女士月经史-绝经</td><td><!--{$tb_yl_tjbgsy->nsyjs_jj}--></td>
    </tr>
     <tr>    	
        <td>女士月经史-流产</td><td><!--{$tb_yl_tjbgsy->nsyjs_lc}--></td>
        <td>生产史</td><td><!--{$tb_yl_tjbgsy->scs}--></td>
    </tr>
     <tr>    	
        <td>家庭史</td><td><!--{$tb_yl_tjbgsy->jts}--></td>
        <td>过敏史</td><td><!--{$tb_yl_tjbgsy->gms}--></td>
    </tr>
     <tr>    	
        <td>总检结果</td><td><!--{$tb_yl_tjbgsy->zjjg}--></td>
        <td>建议</td><td><!--{$tb_yl_tjbgsy->jy}--></td>
    </tr>
     <tr>    	
        <td>总检日期</td><td><!--{$tb_yl_tjbgsy->zjrq}--></td>
        <td>总检医生工号</td><td><!--{$tb_yl_tjbgsy->zjysgh}--></td>
    </tr>
     <tr>    	
        <td>总检医生姓名</td><td><!--{$tb_yl_tjbgsy->zjys}--></td>
        <td>密级</td><td><!--{$tb_yl_tjbgsy->mj}--></td>
    </tr>
     <tr>    	
        <td>修改标志</td><td><!--{$tb_yl_tjbgsy->xgbz}--></td>
        <td></td><td></td>
    </tr>
    <tr class="headbg">
		<th colspan="4" style="font-size:16px;text-align:left;">体检分科（分组）报告</th>
    </tr>
    </thead>
    <!--{foreach from=$tb_yl_tjbg_array item=tb_yl_tjbg}-->
     <tr>    	
        <td>分科报告流水号</td><td><!--{$tb_yl_tjbg->xgbz}--></td>
        <td>医疗机构代码</td><td><!--{$tb_yl_tjbg->xgbz}--></td>
    </tr>
     <tr>    	
        <td>体检编号</td><td><!--{$tb_yl_tjbg->xgbz}--></td>
        <td>科室编码</td><td><!--{$tb_yl_tjbg->xgbz}--></td>
    </tr>
     <tr>    	
        <td>科室名称</td><td><!--{$tb_yl_tjbg->xgbz}--></td>
        <td>组合名称</td><td><!--{$tb_yl_tjbg->xgbz}--></td>
    </tr>
     <tr>    	
        <td>体检小结</td><td><!--{$tb_yl_tjbg->xgbz}--></td>
        <td>报告日期</td><td><!--{$tb_yl_tjbg->xgbz}--></td>
    </tr>
    <tr>    	
        <td>报告医师工号</td><td><!--{$tb_yl_tjbg->xgbz}--></td>
        <td>报告医师姓名</td><td><!--{$tb_yl_tjbg->xgbz}--></td>
    </tr>
    <tr>    	
        <td>修改标志</td><td><!--{$tb_yl_tjbg->xgbz}--></td>
        <td></td><td></td>
    </tr>
    <!--{/foreach}-->
   <tr class="headbg">
		<th colspan="4" style="font-size:16px;text-align:left;">体检明细表</th>
    </tr>
    <!--{foreach from=$tb_yl_tjmx_array item=tb_yl_tjmx}-->
    <tr>    	
        <td>项目明细ID</td><td><!--{$tb_yl_tjmx->xgbz}--></td>
        <td>医疗机构代码</td><td><!--{$tb_yl_tjmx->xgbz}--></td>
    </tr>
    <tr>    	
        <td>分科报告流水号</td><td><!--{$tb_yl_tjmx->xgbz}--></td>
        <td>项目代码</td><td><!--{$tb_yl_tjmx->xgbz}--></td>
    </tr>
    <tr>    	
        <td>项目名称</td><td><!--{$tb_yl_tjmx->xgbz}--></td>
        <td>项目检查结果</td><td><!--{$tb_yl_tjmx->xgbz}--></td>
    </tr>
    <tr>    	
        <td>检查异常标志</td><td><!--{$tb_yl_tjmx->xgbz}--></td>
        <td>修改标志</td><td><!--{$tb_yl_tjmx->xgbz}--></td>
    </tr>
    <!--{/foreach}-->
    </tr>
   
	<tr class="endbg"><td colspan="4" style="text-align:center;">
	<input type="button" name="button" value="返回列表" onclick="javascript:history.back(-1)" />
	</td></tr>
</table>
</body>
</html>