<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" id="css" href="<!--{$basePath}-->views/styles/admincp.css" />
<link rel="stylesheet" type="text/css" id="css" href="<!--{$basePath}-->views/styles/tabs.css" />
<link type="text/css" rel="stylesheet" href="<!--{$basePath}-->views/styles/vtip.css" />
<link rel="stylesheet" type="text/css" id="css" href="<!--{$basePath}-->views/styles/health.css" />
<script src="<!--{$basePath}-->views/js/jquery-1.4.2.js"></script>
<script src="<!--{$basePath}-->views/js/vtip.js" type="text/javascript"></script>
<script src="<!--{$basePath}-->views/js/experience_table.js" type="text/javascript"></script>
<script src="<!--{$basePath}-->views/js/calendar/WdatePicker.js" type="text/javascript"></script> 
<script src="<!--{$basePath}-->views/js/popup.js" type="text/javascript"></script>
<script src="<!--{$basePath}-->views/js/hypertension.js" type="text/javascript"></script>
<title>高血压患者随访服务记录表</title>
<style type="text/css">
	td
	{
		height:13px;
		padding:0px 0px 0px 1px;
		font-size:13px;
	}
	body
	{
		
	}
    .inputnone_more
    {
       background:#FFFFFF;
       border: 1px solid blue;
    }
</style>
<style type="text/css" media=print>  
  .noprint{display : none }   
</style> 
<script>
	$(document).ready(function(){
	//药物不良反应
	function chkadverse(){
		var adverse_drug_array = jQuery.parseJSON('<!--{$adverse_drug_json_array}-->');
		var input_val = $("input[name='adverse_drug']").val();
		if (input_val != "" && adverse_drug_array[input_val][0] == "2") {
			$("#adverse_drug_info").attr("disabled", false);
			if ($("#adverse_drug_info").val() == "") {
				$("#adverse_drug_info").focus();
			}
			return false;//只要出现了其他项，则退出
		}
		else {
			$("#adverse_drug_info").attr("disabled", true);
		}
	}
	chkadverse();
    get_follow_result("<!--{$basePath}-->cd/index/cal");
	$("#adverse_drug").blur(function(){chkadverse();});
    //判定逻辑
    $("input[name='symptom_code[]']").blur(function(){get_follow_result("<!--{$basePath}-->cd/index/cal");});
    $("input[name='pregnancy']").blur(function(){get_follow_result("<!--{$basePath}-->cd/index/cal");});
    $("input[name='blood_pressure']").blur(function(){get_follow_result("<!--{$basePath}-->cd/index/cal");});
    $("input[name='diastolic_blood_pressure']").blur(function(){get_follow_result("<!--{$basePath}-->cd/index/cal");});
    $("input[name='blood_difference']").blur(function(){get_follow_result("<!--{$basePath}-->cd/index/cal");});
    $("input[name='adverse_drug']").blur(function(){get_follow_result("<!--{$basePath}-->cd/index/cal");});
    $(".blur").click(function(){get_follow_result("<!--{$basePath}-->cd/index/cal");});
	});
    function view_blood_pic(url)
    {
        //$("#blood_pic_load").attr("src",url);
        $.dialog(760, 268+60, $('#blood_popup').html(),"blood_popup","高血压随访血压近7日走势图");
        $('#dialog_box_html').addClass('background:url(<!--{$basePath}-->images/load.gif) no-repeat center center;');
        $('#dialog_box_html').empty();//先清空，因为多次载入图片
        var img = new Image();
        $(img).load(function() {
            $(this).hide();
            $('#dialog_box_html').append(this);
            $(this).fadeIn();
            }).error(function(){
                $('#dialog_box_html').html("没有查询到有相关数据，无法绘出相关图形");
                // notify the user that the image could not be loaded
            }).attr('src', url);
    }
</script>
</head>
<body >
   <div class="STYLE1" style="background:#FFFFFF; text-align:center; width:100%;font-size: 16px;
	font-weight: bold;">高血压患者随访服务记录表</div>
   <div  style=" text-align:center; width:100%; "><input type="hidden" name="uuid" value="<!--{$uuid}-->"/>
      <div  style=" width:70%; text-align:left; float:left;background:#FFFFFF;"><span class="STYLE2" style="padding-left:4px;">姓名</span>：<!--{$user_name}--></div>
	  <div style=" width:30%; text-align:left; float:left;background:#FFFFFF;"><span class="STYLE2">编号</span>：<!--{$standard_code}--></div>
   </div>
<table width="100%"  align="center" cellpadding="1" cellspacing="1" bgcolor="#CCCCCC" >
   	<tr>
		<td colspan="2">随访日期</td>
	    <td colspan="2"><!--{$follow_time}-->
	</tr>
   	<tr>
   	  <td colspan="2">随访方式</td>
      <td colspan="2">
	 <!--{foreach key=k item=v from=$follow_type_array}-->
			<!--{$k}-->、<!--{$v[1]}-->&nbsp;
	<!--{/foreach}-->&nbsp;
	  <input type="text" name="follow_type" value="<!--{$follow_type}-->" class="inputnew" /></td>
   	</tr>
   	<tr>
   	  <td rowspan="2"><p>症</p>
      <p>状</p></td>
      <td rowspan="2">
	  	<!--{foreach key=k item=v from=$symptom_code_array}-->
			<!--{$k}-->、<!--{$v[1]}--><br />
		<!--{/foreach}-->	  </td>
      <td height="30" colspan="2" align="center">
	  	<!--{section name=inp loop=8}-->
			<input type="text" class="inputnew" name="symptom_code[]" value="<!--{$symptom_code[inp].symptom_code}-->" />/
		<!--{/section}-->	  </td>
   	</tr>
   	<tr>
   	  <td colspan="2" valign="top">
	  	<div>
			<div class="other_sym">其他：</div>
			<div class="other_txtsym">
				<textarea class="newtextarea" name="symptom_other" rows="6" cols="10"><!--{$symptom_other}--></textarea>
			</div>
		</div>	  </td>
   	</tr>
    <!--{if $sex_code==3}-->
    <tr>
   	  <td colspan="2">是否妊娠期或哺乳期</td>
      <td colspan="2">
	 <!--{foreach key=k item=v from=$pregnancy_array}-->
			<!--{$k}-->、<!--{$v[1]}-->&nbsp;
	<!--{/foreach}-->&nbsp;
	  <input type="text" name="pregnancy" value="<!--{$pregnancy}-->" class="inputnew" /></td>
   	</tr>
    <!--{/if}-->
   	<tr>
   	  <td rowspan="7"><p>体</p>
      <p>征</p></td>
      <td align="center">血压(mmHg)</td>
      <td colspan="2"><input type="text" name="blood_pressure" value="<!--{$blood_pressure}-->" class="inputnone1" style="width:35px;" />/<input type="text" name="diastolic_blood_pressure" value="<!--{$diastolic_blood_pressure}-->" class="inputnone1" />
      </td>
   	</tr>
    <tr>
   	  <td align="center">双侧血压相差值</td>
      <td colspan="2">
		  <input type="text" name="blood_difference" value="<!--{$blood_difference}-->" class="inputnone" /></td>
   	</tr>
    <tr>
   	  <td align="center">身高(cm)</td>
      <td colspan="2">
		  <input type="text" name="height" value="<!--{$height}-->" onblur="cal_bmi()" class="inputnone">
        </td>
   	</tr>
   	<tr>
   	  <td align="center">体重(kg)</td>
      <td colspan="2">
		  <input type="text" name="weight_begin" value="<!--{$weight_begin}-->" onblur="cal_bmi()" class="inputnone">/
		  <input type="text" name="weight_after" value="<!--{$weight_after}-->" class="inputnone">

          </td>
   	</tr>
   	<tr>
   	  <td align="center">体质指数</td>
      <td colspan="2"><input type="text" name="body_mass_index" value="<!--{$body_mass_index}-->" class="inputnone1"></td>
   	</tr>
   	<tr>
   	  <td align="center">心率</td>
      <td colspan="2">
		  <input type="text" name="heart_rate_begin" value="<!--{$heart_rate_begin}-->" class="inputnone">/
		  <input type="text" name="heart_rate_after" value="<!--{$heart_rate_after}-->" class="inputnone"></td>
   	</tr>
   	<tr>
   	  <td align="center">其他</td>
      <td colspan="2"><input type="text" name="signs_other" value="<!--{$signs_other}-->" class="inputnone1"></td>
   	</tr>
   <!-- <tr>
   	  <td style="font-size: 14px;" colspan="4">以下内容仅高血压患者填写，【<!--{$user_name}-->】属于<span style="color: <!--{if $sign_hypertension}-->red<!--{else}-->green<!--{/if}-->;"><!--{if $sign_hypertension}-->高血压患者<!--{else}-->非高血压患者<!--{/if}--></span></td>
   	</tr>-->
   	<tr>
   	  <td rowspan="7"><p>生</p>
      <p>活</p>
      <p>方</p>
      <p>式</p>
      <p>指</p>
      <p>导</p></td>
      <td align="center">日吸烟量(支)</td>
      <td colspan="2">
		  <input type="text" name="smoking_begin" value="<!--{$smoking_begin}-->" class="inputnone">/
		  <input type="text" name="smoking_after" value="<!--{$smoking_after}-->" class="inputnone"></td>
   	</tr>
   	<tr>
   	  <td align="center">日饮酒量(两)</td>
      <td colspan="2">
		  <input type="text" name="drinking_begin" value="<!--{$drinking_begin}-->" class="inputnone">/
		  <input type="text" name="drinking_after" value="<!--{$drinking_after}-->" class="inputnone"></td>
   	</tr>
   	<tr>
   	  <td rowspan="2" align="center">运动</td>

      <td colspan="2" align="center">
	  	<input type="text" name="sport_amount_begin" value="<!--{$sport_amount_begin}-->" class="inputnone">次/周
	  <input type="text" name="sport_time_begin" value="<!--{$sport_time_begin}-->" class="inputnone">分钟/次	  </td> 
  </tr>
   	<tr>
	<td colspan="2" align="center">
	  	<input type="text" name="sport_amount_after" value="<!--{$sport_amount_after}-->" class="inputnone">次/周
	  <input type="text" name="sport_time_after" value="<!--{$sport_time_after}-->" class="inputnone">分钟/次	  </td>
   	<tr>
   	  <td align="center"><p>摄盐情况(咸淡)</p>
      </td>
      <td colspan="2">
          <input type="radio" name="salt_intake_begin" value="1" <!--{if $salt_intake_begin==1}--> checked="checked"<!--{/if}--> />轻
          <input type="radio" name="salt_intake_begin" value="2" <!--{if $salt_intake_begin==2}--> checked="checked"<!--{/if}--> />中
          <input type="radio" name="salt_intake_begin" value="3" <!--{if $salt_intake_begin==3}--> checked="checked"<!--{/if}--> />重
		  /
          <input type="radio" name="salt_intake_after" value="1" <!--{if $salt_intake_after==1}--> checked="checked"<!--{/if}--> />轻
          <input type="radio" name="salt_intake_after" value="2" <!--{if $salt_intake_after==2}--> checked="checked"<!--{/if}--> />中
          <input type="radio" name="salt_intake_after" value="3" <!--{if $salt_intake_after==3}--> checked="checked"<!--{/if}--> />重
		  </td>
   	</tr>
   	<tr>
   	  <td align="center">心理调整</td>
      <td colspan="2">
	  	<!--{foreach key=k item=v from=$psychology_array}-->
			<!--{$k}-->、<!--{$v[1]}-->
		<!--{/foreach}-->
		<input type="text" name="psychology" class="inputnew" value="<!--{$psychology}-->" />	  </td>
   	</tr>
   	<tr>
   	  <td align="center">遵医行为</td>
      <td colspan="2">
	  	<!--{foreach key=k item=v from=$treatment_compliance_array}-->
			<!--{$k}-->、<!--{$v[1]}-->
		<!--{/foreach}-->
		<input type="text" name="treatment_compliance" class="inputnew" value="<!--{$treatment_compliance}-->" />	  </td>
   	</tr>
   	</tr>
   	<tr>
   	  <td colspan="2" align="center">辅助检查*</td>
      <td colspan="2"><input type="text" name="auxiliary_check" class="inputnone1" value="<!--{$auxiliary_check}-->"></td>
   	</tr>
   	<tr>
   	  <td colspan="2" align="center">服药依从性</td>
      <td colspan="2">
	  	<!--{foreach key=k item=v from=$medication_compliance_array}-->
			<!--{$k}-->、<!--{$v[1]}-->
		<!--{/foreach}-->
		<input type="text" name="medication_compliance" class="inputnew" value="<!--{$medication_compliance}-->" />	  </td>
   	</tr>
   	<tr>
   	  <td colspan="2" align="center">药物不良反应</td>
      <td colspan="2">
	  	<!--{foreach key=k item=v from=$adverse_drug_array}-->
			<!--{$k}-->、<!--{$v[1]}-->
		<!--{/foreach}-->
		<input type="text" name="adverse_drug_info" id="adverse_drug_info" class="inputbottom" value="<!--{$adverse_drug_info}-->" />
		<input type="text" name="adverse_drug" id="adverse_drug" class="inputnew" value="<!--{$adverse_drug}-->"  />	  </td>
   	</tr>
   	<tr>
   	  <td colspan="2" align="center">随访分类</td>
      <td colspan="2">
	  	<!--{foreach key=k item=v from=$follow_up_result_array}-->
			<!--{$k}-->、<!--{$v[1]}-->
		<!--{/foreach}-->
		<input type="text" name="follow_up_result" class="inputnew" value="<!--{$follow_up_result}-->" />	  </td>
   	</tr>
   	<tr>
   	  <td rowspan="8"><p>用</p>
      <p>药</p>
      <p>情</p>
      <p>况</p></td>
	  <!--{section name=drug_show loop=4}-->
	  <!--{if $smarty.section.drug_show.rownum==1}-->
      <td align="center">药物名称<!--{$smarty.section.drug_show.rownum}--></td>
      <td colspan="2"><input type="hidden" name="drug_uuid[]" class="inputnone1" value="<!--{$drug[drug_show].drug_uuid}-->" />
	  <input type="text" name="drug_name[]" class="inputnone1" value="<!--{$drug[drug_show].drug_name}-->"></td>
	</tr>
   	<tr>
   	  <td align="center">用法用量</td>
       <td>每日<input type="text" name="drug_frequency[]" class="inputnone" value="<!--{$drug[drug_show].drug_frequency}-->">次</td>
   	  <td>每次<input type="text" name="drug_amount[]" class="inputnone" value="<!--{$drug[drug_show].drug_amount}-->">mg</td>
	</tr>
	<!--{elseif $smarty.section.drug_show.rownum>1 && $smarty.section.drug_show.rownum<4}-->
   		<tr>
      <td align="center">药物名称<!--{$smarty.section.drug_show.rownum}--></td>
      <td colspan="2"><input type="hidden" name="drug_uuid[]" class="inputnone1" value="<!--{$drug[drug_show].drug_uuid}-->" />
      	<input type="text" name="drug_name[]" class="inputnone1" value="<!--{$drug[drug_show].drug_name}-->"></td>
	</tr>
   	<tr>
   	  <td align="center">用法用量</td>
       <td>每日<input type="text" name="drug_frequency[]" class="inputnone" value="<!--{$drug[drug_show].drug_frequency}-->">次</td>
   	  <td>每次<input type="text" name="drug_amount[]" class="inputnone" value="<!--{$drug[drug_show].drug_amount}-->">mg</td>
	</tr>
	<!--{elseif $smarty.section.drug_show.rownum==4}-->
   	<tr>
      <td align="center">其他药物</td>
      <td colspan="2"><input type="hidden" name="drug_uuid[]" class="inputnone1" value="<!--{$drug[drug_show].drug_uuid}-->" />
      	<input type="text" name="drug_name[]" class="inputnone1" value="<!--{$drug[drug_show].drug_name}-->"></td>
	</tr>
   	<tr>
   	  <td align="center">用法用量</td>
       <td>每日<input type="text" name="drug_frequency[]" class="inputnone" value="<!--{$drug[drug_show].drug_frequency}-->">次</td>
   	  <td>每次<input type="text" name="drug_amount[]" class="inputnone" value="<!--{$drug[drug_show].drug_amount}-->">mg</td>
	</tr>
	<!--{/if}-->
	<!--{/section}-->
   	<tr>
   	  <td rowspan="2" align="center">转诊</td>
      <td align="center">原因</td>
      <td colspan="2"><input type="text" name="referral_reason" class="inputnone1" value="<!--{$referral_reason}-->"></td>
   	</tr>
   	<tr>
   	  <td align="center">机构及科别</td>
   	  <td colspan="2"><input type="text" name="organization" class="inputnone1" value="<!--{$organization}-->"></td>
   	</tr>
   	<tr>
   	  <td colspan="2" align="center">下次随访日期</td>
      <td colspan="2"><!--{$follow_next_time}--></td>
   	</tr>
    <tr>
   	  <td colspan="2" align="center">随访结果</td>
      <td colspan="2"><!--{$follow_result}--></td>
   	</tr>
   	<tr>
   	  <td colspan="2" align="center">随访医生签名</td>
      <td colspan="2">
      	<select name="staff_id" id="staff_id">
			<!--{section name=response_doctor loop=$response_doctor}-->
			<option value="<!--{$response_doctor[response_doctor].id}-->" <!--{$response_doctor[response_doctor].selected}--> ><span style="font-size:12px;"><!--{$response_doctor[response_doctor].zh_name}--></span></option>
			<!--{/section}-->
		</select></td>
   	</tr>
	<tr class="endbg">
		<td height="33" colspan="10" align="center" class="noprint">
            <input type="button" name="return" id="return" value="返回列表" class="inputbutton" onclick="javascript:window.location='<!--{$basePath}-->cd/index/index';" />
            <!--{if $uuid}-->
        &nbsp;<input type="button" name="print" id="print" value="打印" class="inputbutton" onclick="javascript:window.print();" />
        <!--{/if}-->
	  </td>
	</tr>
   </table>
<div id="blood_popup" style="display:none;">
</div> 
</body>
</html>
