<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
<link rel="stylesheet" href="<!--{$basePath}-->views/styles/jquerymobile.min.css" rel="stylesheet" type="text/css" media="screen" />
<script src="<!--{$basePath}-->views/js/jquery-1.9.1.min.js"></script>
<script src="<!--{$basePath}-->views/js/jquerymobile.min.js"></script>


<div data-role="page" id="page1">
    <div data-theme="a" data-role="header">
        <h3>
            关于我们
        </h3>
    </div>
    <div data-role="content">
        <div data-role="collapsible-set" data-content-theme="e">
            <div data-role="collapsible"  data-collapsed="false">
                <h3>
                    关于我们
                </h3>
                <p>
				技术支持:成都中医药大学
                <br />联系电话:
                <br />13684087134（罗老师）
                <br />18982014507（贾老师）
                <br />13408515683（叶老师）
                <br />电子邮箱：wormdedi@gmail.com
                <br />欢迎来电来信索取详细资料。
                </p>
            </div>
        </div>
    </div>
    
</div>
<html>