<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>个人健康档案列表</title>
<link rel="stylesheet" type="text/css" id="css" href="<!--{$basePath}-->views/styles/admincp.css">
<link rel="stylesheet" type="text/css" id="css" href="<!--{$basePath}-->views/styles/tabs.css">
<link type="text/css" rel="stylesheet" href="<!--{$basePath}-->views/styles/vtip.css" />
<style>
	table
	{
		background:#ffffff;
	}
	.line
	{
		border-top:0px;
		border-left:0px;
		border-right:0px;
	}
    .status_6{
        color: #ccc;
    }
    .status_6 a{
        color: #ccc;
    }
    span.status_6{
        color: #FFF;
        background-color: #ccc;
    }
    .status_4{
        color: #99CCFF;
    }
    .status_4 a{
        color: #99CCFF;
    }
    span.status_4{
        color: #FFF;
        background-color: #99CCFF;
    }
    .status_8{
        color: #CCCCFF;
    }
    span.status_8{
        color: #FFF;
        background-color: #CCCCFF;
    }
    .status_8 a{
        color: #CCCCFF;
    }
    .flag{
        height: 28px;
        width: 50px;
        line-height: 28px;
        border: 1px solid #ccc;
        padding: 2px;
        margin: 2px;
    }
</style>
<!--引入jquery-->
<script src="<!--{$basePath}-->views/js/jquery-1.4.2.js"></script>
<script src="<!--{$basePath}-->views/js/vtip.js" type="text/javascript"></script>
<script src="<!--{$basePath}-->views/js/popup.js" type="text/javascript"></script>
<script src="<!--{$basePath}-->views/js/ajax_select_region.js" type="text/javascript"></script>
<script src="<!--{$basePath}-->views/js/calendar/WdatePicker.js" type="text/javascript"></script>
<script>
	$(document).ready(function(){
		//定义鼠标经过样式
		//定义搜索样式
		//$("#search_lable").toggle(function(){$("#tbody_search").show();$("#tbody_search input").attr("disabled",false);$("#tbody_search select").attr("disabled",false);$("#search_lable>img").attr("src","<!--{$basePath}-->images/zoom_out.png");},function(){$("#tbody_search").hide();$("#tbody_search input").attr("disabled",true);$("#tbody_search select").attr("disabled",true);$("#search_lable>img").attr("src","<!--{$basePath}-->images/zoom_in.png");});
		$("#search_lable").toggle(function(){$("#tbody_search").show();$("#search_lable>img").attr("src","<!--{$basePath}-->images/zoom_out.png");},function(){$("#tbody_search").hide();$("#search_lable>img").attr("src","<!--{$basePath}-->images/zoom_in.png");});
		//当选择全选的时候，把与其名字一样的所有字段全部选中
		$(".all").bind("click",function(){
			var input_name=$(this).attr("name");
			$("input[name='"+input_name+"']").attr("checked",$(this).attr("checked"));
		});
        //处理地区下拉
        get_region_select_html('<!--{$basePath}-->','region_p_id','iha_list_region');
	});
	function ajaxload(gurl,obj,tp)
	{
		//移除原来的img标签
		$("th>img").remove();
		$("th").unbind();
		var order=$(obj).attr("class");
		//alert(order);
		if(tp=='undefined')
		{
			tp="POST";
		}
		tp="POST";
		var searchv=$("#searchinput").val();
        searchv=(searchv!=undefined)?searchv:"";
		$.ajax({
			type:tp,
			url:gurl+order+searchv,
			dataType:"html",
			data:$("#search").serialize(),
			beforeSend:function(){
				$("#iha").html("<tr><td colspan='12'>数据查询中，请耐心等待...</td></tr>");
				},
			success:function(data){
				//document.write(data);
				if(order=="asc")
				{
					$(obj).attr("class","desc");
				}
				else
				{
					$(obj).attr("class","asc");
				}
				$(obj).html("<img src='<!--{$basePath}-->images/"+order+".png' />"+$(obj).text());
				$("#iha").html(data);
				//增加鼠标移动样式
				$("th").bind("mouseover mouseout",function(){
				var sr=$(this).find("img").attr("src");
				if(sr=="<!--{$basePath}-->images/asc.png")
				{
					$(this).find("img").attr("src","<!--{$basePath}-->images/desc.png");
				}
				else
				{
					$(this).find("img").attr("src","<!--{$basePath}-->images/asc.png");
				}
				});
			},
			error:function(){
				$("#iha").html("<tr><td colspan='12'>数据查询失败，请刷新页面重试...</td></tr>")
			}
		});
	}
	function ajaxpage(gurl)
	{
		//alert(gurl);
		//alert($("#search").serialize());
		$.ajax({
			type:"POST",
			url:gurl,
			dataType:"html",
			data:$("#search").serialize(),
			beforeSend:function(){$("#iha").html("<tr><td colspan='12'>数据查询中，请耐心等待...</td></tr>")},
			success:function(data){
				//alert(data);
				//document.write(data);
				$("#iha").html(data);
                //初始化提示信息
                vtip();
			},
			error:function(){
				$("#iha").html("<tr><td colspan='12'>数据查询失败，请刷新页面重试...</td></tr>")
			}
		});
	}
	function ajaxsearch(gurl)
	{
		$.ajax({
			type:"POST",
			url:gurl,
			dataType:"html",
			data:$("#search").serialize(),
			beforeSend:function(){$("#iha").html("<tr><td colspan='12'>数据查询中，请耐心等待...</td></tr>")},
			success:function(data){
				//alert(data);
				//document.write(data);
				$("#iha").html(data);
                //初始化提示信息
                vtip();
				return false;
			},
			error:function(){
				$("#iha").html("<tr><td colspan='12'>数据查询失败，请刷新页面重试...</td></tr>");
				return false;
			}
		});
	}
	function set_session(uid)
	{
		$.ajax({
			type:"get",
			url:"<!--{$basePath}-->iha/index/setsession/uuid/"+uid,
			dataType:"html",
			data:"",
			success:function(data){
				//alert(data);
				if($.trim(data)=="ok")
				{
					//设置图标
					//移除已经标志为选中状态的数据
					$(".online").attr("src","<!--{$basePath}-->images/status_offline.png");
					//将选中用户置为在线状态
					//alert(uid);
					//var obj1=document.getElementById("iha_"+uid);
					//var obj2=obj1.getElementByTagname('img');
					//document.getElementById('')
					var id='img_'+uid;
					$("img[id='"+id+"']").attr("src","<!--{$basePath}-->images/status_online.png");
					//设置顶部医生提示
					id=uid+"_name";
					$(window.top.frames["right_top"].document).find('#patient').html($("td[id='"+id+"']").text());
				}
				//return false;
			}
		});
		return true;
	}
	//alert($('#i_4c4ba61e71cc14.67049524_name').text());
    //显示完整率
    function showrate(rateurl)
    {
        $.get(rateurl,function(data){
            $.dialog(500, 500,data,"rate_popup","完整率指标完成情况");
        });
    }
    function getstatus_flag(){
    	var status_flagv = $('#status_flag').val();
    	alert(status_flagv);
    }
    function blank_lsjz(burl)
    {
        var vcard=$("input[name='identity_number']").val();
        $.get("<!--{$basePath}-->iha/index/basecard/vcard/"+vcard,function(data)
        {
            vcard=data;
        });
        if(vcard!='' && vcard!=undefined)
        {
            if(confirm('确定要查看历史就诊信息吗？'))
            {
                window.open(burl+'/card/'+vcard);
            }
        }
        else
        {
            alert('请先输入身份证号码');
        }
        
    }
</script>
</head>
<body>
<form action="" id="search" method="post">
<table border="0" width="100%">
			<tr><td><!--{$ss}-->
				姓名<img title="“可以输入汉字也可以输入姓名拼音的首字母，比如要查找'王高兴',那么可以输入姓名汉字中的“王”，“王高”或者“王高兴”均可，也可以依次输入‘wgx’几个字母进行搜索查找，比如“w”,“wg”，或者“wgx””" src="<!--{$baseUrl}-->images/comments.png" class="vtip" />：<input type="text" name="username" class="line" size="10">&nbsp;
				档案号<img title="“依次输入标准档案号里的全部或者部分数字,比如档案号为“510100-888-888-88-8888-88”，则可以录入“5加任意数字的格式进行查找””" src="<!--{$baseUrl}-->images/comments.png" class="vtip" />:<input type="text" name="standard_code" class="line" size="10">&nbsp;
				身份证号<img title="“可以依次输入完整或者部分身份证号”" src="<!--{$baseUrl}-->images/comments.png" class="vtip" />:<input type="text" name="identity_number" class="line" size="12">&nbsp;
				年龄:<input type="text" name="age_start" class="line" style="width:28px" size="6">
				~<input type="text" name="age_end" class="line" style="width:28px" size="6">&nbsp;
				档案状态：
				<select name="status_flag" id="status_flag" onchange="sf=this.value">
					<!--{section name=status_flag loop=$status_flag}-->
						<option value="<!--{$status_flag[status_flag].key}-->" <!--{$status_flag[status_flag].selected}--> > <!--{$status_flag[status_flag].value}--></option>
					<!--{/section}-->
				</select>
                发卡状态：
				<select name="card_status">
                    <option value="" >所有状态</option>
					<!--{foreach key=k item=v from=$card_status}-->
    				<option value="<!--{$v[0]}-->" <!--{if $v[0]==$search.card_status}--> selected="selected"<!--{/if}-->><!--{$v[1]}--></option>
    				<!--{/foreach}-->
				</select>
				<!--{if $searchtable==""}-->
				身份证类别
                <select name="nocard">
                <option>请选择</option>
                <option value="1" <!--{if $nocard==1}-->selected="selected"<!--{/if}-->>身份证号码为空</option>
                <option value="2" <!--{if $nocard==2}-->selected="selected"<!--{/if}-->>身份证号码为15位</option>
                <option value="3" <!--{if $nocard==3}-->selected="selected"<!--{/if}-->>身份证号码为18位</option>
                <option value="4" <!--{if $nocard==4}-->selected="selected"<!--{/if}-->>身份证号码为其他位</option>
                </select>
                &nbsp;
				<!--{else}-->
				档案类型
				<select name="cl_search_type" id="cl_search_type" onchange="return ajaxsearch('<!--{$basePath}-->iha/index/list');">
				<option value="0" <!--{if $cl_search_type=='0'}-->selected<!--{/if}-->>所有居民档案</option>
				<!--{foreach key=k item=v from=$table_comment}-->
				<option value="<!--{$k+1}-->" <!--{if $cl_search_type==$v}-->selected<!--{/if}-->><!--{$v}--></option>
				<!--{/foreach}-->
				</select>
				<input type="hidden" name="searchtable" id="searchtable" value="<!--{$searchtable}-->" />
				<input type="hidden" name="colum" id="colum" value="<!--{$colum}-->" />
				<input type="hidden" name="value" id="value" value="<!--{$value}-->" />
				<!--{/if}-->
                开始时间：<input type="text" name="start_time" id="start_time" class="Wdate line" onfocus="WdatePicker({isShowWeek:true,maxDate:'#F{$dp.$D(\'end_time\')||\'2020-10-01\'}'})" value="<!--{$search.start_time}-->" style="border: 0px;border-bottom: 1px solid #999999;width:75px;" />&nbsp;&nbsp;结束时间：<input type="text" name="end_time" id="end_time" class="Wdate line" onfocus="WdatePicker({isShowWeek:true,minDate:'#F{$dp.$D(\'start_time\')}'})" value="<!--{$search.end_time}-->" style="border: 0px;border-bottom: 1px solid #999999;width:75px;" />
                <input type="button" value="搜索" onclick="return ajaxsearch('<!--{$basePath}-->iha/index/list');" />&nbsp;&nbsp;
				<input type="button" value="历史就诊" onclick="blank_lsjz('<!--{$basePath}-->iha/search/search')">
				
				<label id="search_lable" style="cursor:pointer;"><img src="<!--{$basePath}-->images/zoom_in.png" />高级搜索</label><img title="请尽量使用普通搜索，并且限制搜索条件详细一些，否则会耗费过长的时间" src="<!--{$baseUrl}-->images/comments.png" class="vtip" />
				</td>
			</tr>
		<tbody id="tbody_search" style="display:none;">
			<tr>
				<td>
					所属地区:<br /><span id="iha_list_region"></span>	
					<input type="hidden" name="region_id" id="region_id" value="<!--{$region_id}-->" />
					<input type="hidden" name="region_p_id" id="region_p_id" value="<!--{$region_p_id}-->" />
					
					</td>
			</tr>
		<tr>
				<td>
				建档医生：
		<select name="staff_id" id="staff_id">
			<!--{section name=response_doctor loop=$response_doctor}-->
			<option value="<!--{$response_doctor[response_doctor].id}-->" <!--{$response_doctor[response_doctor].selected}--> ><!--{$response_doctor[response_doctor].zh_name}--></option>
			<!--{/section}-->
		</select>&nbsp;联系电话:<input type="text" name="phone_number" class="line" size="10">&nbsp;工作单位：<input type="text" name="unit_name" class="line" size="30">&nbsp;
				</td>
			</tr>
			<tr>
				<td>
				常住类型:<input type="checkbox" class="all" name="residence[]" value="all">&nbsp;全部&nbsp;
				<!--{foreach key=k item=v from=$registered_permanent_residence}-->
				<input type="checkbox" name="residence[]" value="<!--{$v[0]}-->"><!--{$v[1]}-->&nbsp;
				<!--{/foreach}-->&nbsp;
				</td>
			</tr>
			<tr>
				<td>
				性别:<input type="checkbox" class="all" name="sex[]" value="all">&nbsp;全部&nbsp;
				<!--{foreach key=k item=v from=$sex}-->
				<input type="checkbox" name="sex[]" value="<!--{$v[0]}-->"><!--{$v[1]}-->&nbsp;
				<!--{/foreach}-->&nbsp;
				</td>
			</tr>
			<tr>
				<td>
				文化程度:<input type="checkbox" class="all" name="school_type[]" value="all">&nbsp;全部&nbsp;
				<!--{foreach key=k item=v from=$school_type}-->
				<input type="checkbox" name="school_type[]" value="<!--{$v[0]}-->"><!--{$v[1]}-->&nbsp;
				<!--{/foreach}-->&nbsp;
				</td>
			</tr>
			<tr>
				<td>
				职业:<input type="checkbox" class="all" name="occupation[]" value="all">&nbsp;全部&nbsp;
				<!--{foreach key=k item=v from=$occupation}-->
				<input type="checkbox" name="occupation[]" value="<!--{$v[0]}-->"><!--{$v[1]}-->&nbsp;
				<!--{/foreach}-->&nbsp;
				</td>
			</tr>
			<tr>
				<td>
				婚姻状况:<input type="checkbox" class="all" name="marriage[]" value="all">&nbsp;全部&nbsp;
				<!--{foreach key=k item=v from=$marriage}-->
				<input type="checkbox" name="marriage[]" value="<!--{$v[0]}-->"><!--{$v[1]}-->&nbsp;
				<!--{/foreach}-->&nbsp;
				</td>
			</tr>
			<tr>
				<td>
				药物过敏史:<input type="checkbox" class="all" name="allergy_history[]" value="all">&nbsp;全部&nbsp;
				<!--{foreach key=k item=v from=$comm}-->
				<input type="checkbox" name="allergy_history[]" value="<!--{$v[0]}-->"><!--{$v[1]}-->&nbsp;
				<!--{/foreach}-->&nbsp;
				</td>
			</tr>
			<tr>
				<td>
				疾病史:<input type="checkbox" class="all" name="disease_history[]" value="all">&nbsp;全部&nbsp;
				<!--{foreach key=k item=v from=$comm}-->
				<input type="checkbox" name="disease_history[]" value="<!--{$v[0]}-->"><!--{$v[1]}-->&nbsp;
				<!--{/foreach}-->&nbsp;
				</td>
			</tr>
			<tr>
				<td>
				手术史:<input type="checkbox" class="all" name="surgery_history[]" value="all">&nbsp;全部&nbsp;
				<!--{foreach key=k item=v from=$comm}-->
				<input type="checkbox" name="surgery_history[]" value="<!--{$v[0]}-->"><!--{$v[1]}-->&nbsp;
				<!--{/foreach}-->&nbsp;
				</td>
			</tr>
			<tr>
				<td>
				外伤史:<input type="checkbox" class="all" name="trauma_history[]" value="all">&nbsp;全部&nbsp;
				<!--{foreach key=k item=v from=$comm}-->
				<input type="checkbox" name="trauma_history[]" value="<!--{$v[0]}-->"><!--{$v[1]}-->&nbsp;
				<!--{/foreach}-->&nbsp;
				</td>
			</tr>
			<tr>
				<td>
				输血史:<input type="checkbox" class="all" name="blood_history[]" value="all">&nbsp;全部&nbsp;
				<!--{foreach key=k item=v from=$comm}-->
				<input type="checkbox" name="blood_history[]" value="<!--{$v[0]}-->"><!--{$v[1]}-->&nbsp;
				<!--{/foreach}-->&nbsp;
				</td>
			</tr>
			<tr>
				<td>
				遗传病史:<input type="checkbox" class="all" name="genetic_diseases_history[]" value="all">&nbsp;全部&nbsp;
				<!--{foreach key=k item=v from=$comm}-->
				<input type="checkbox" name="genetic_diseases_history[]" value="<!--{$v[0]}-->"><!--{$v[1]}-->&nbsp;
				<!--{/foreach}-->&nbsp;
				</td>
			</tr>
			<tr>
				<td>
				残疾状况:<input type="checkbox" class="all" name="disability[]" value="all">&nbsp;全部&nbsp;
				<!--{foreach key=k item=v from=$comm}-->
				<input type="checkbox" name="disability[]" value="<!--{$v[0]}-->"><!--{$v[1]}-->&nbsp;
				<!--{/foreach}-->&nbsp;
				</td>
			</tr>
			</tbody>
</table>	
</form>
<table border="0" width="100%">
	<thead>
    <tr class="headbg">
    	<th>&nbsp;
        	
        </th>
        <th title="按档案号排序" style="cursor:pointer;" class="asc" onclick="ajaxload('<!--{$basePath}-->iha/index/list/page/<!--{$page}-->/order/standard_code/turn/',this)">
        	<img src='<!--{$basePath}-->images/asc.png' />档案号
        </th>
		<th title="按姓名排序" style="cursor:pointer;" class="asc" onclick="ajaxload('<!--{$basePath}-->iha/index/list/page/<!--{$page}-->/order/name_pinyin/turn/',this)">
        	姓名
        </th>
		<th>
        	性别
        </th>
		<th>
        	家庭地址
        </th>
		<th title="按年龄排序" style="cursor:pointer;" class="asc" onclick="ajaxload('<!--{$basePath}-->iha/index/list/page/<!--{$page}-->/order/date_of_birth/turn/',this)">
        	年龄
        </th>
		<th>
        	联系电话
        </th>
		<th>
        	户主姓名
        </th>
		<th>
        	建档医生
        </th>
		<th title="按完整率排序" style="cursor:pointer;" class="asc" onclick="ajaxload('<!--{$basePath}-->iha/index/list/page/<!--{$page}-->/order/criteria_rate/turn/',this)">
        	完整率(%)<img title="根据字段：{
			<!--{section name=comment loop=$comment}-->
			<!--{$comment[comment].column_zh_name}-->、
			<!--{/section}-->
			}是否填写值来计算个人档案完整率" src="<!--{$baseUrl}-->images/comments.png" class="vtip" />
        </th>
        <th>
        	健康卡
        </th>
		<th>
        	操作
        </th>
	</tr>
	</thead>
	<tbody id="iha">
	<!--{section name=iha loop=$iha}-->
	 <tr id="iha_<!--{$iha[iha].uuid}-->" ondblclick="set_session('<!--{$iha[iha].uuid}-->')" class="status_<!--{$iha[iha].status_flag}-->">
	 	<td>
	 		<!--{if $iha[iha].uuid==$individual_current->uuid}-->
			<img id="img_<!--{$iha[iha].uuid}-->" src="<!--{$basePath}-->images/status_online.png" class="online" />
			<!--{else}-->
			<img id="img_<!--{$iha[iha].uuid}-->" src="<!--{$basePath}-->images/status_offline.png" class="online" />
			<!--{/if}--> 
	 	</td>
        <td class="vtip" title="档案最后更新时间：<!--{$iha[iha].updated}-->，建档时间为：<!--{$iha[iha].filing_time}-->">
        	<!--{$iha[iha].standard_code}-->
        </td>
		<td id="<!--{$iha[iha].uuid}-->_name">
        	<a href="<!--{$basePath}-->iha/search/search/username/<!--{$iha[iha].name}-->/card/<!--{$iha[iha].standard_code_base}-->" target="_blank"><!--{$iha[iha].name}--></a>
        </td>
		<td>
        	<!--{$iha[iha].sex}-->
        </td>
		<td>
        	<a href="<!--{$basePath}-->iha/index/map/uuid/<!--{$iha[iha].uuid}-->" class="vtip" title="点击在地图上标注家庭地址，同时将修改家庭地址"><!--{$iha[iha].address}--></a>
        </td>
		<td title="生日：<!--{$iha[iha].date_of_birth}-->">
        	<!--{$iha[iha].age}-->
        </td>
		<td>
        	<!--{$iha[iha].contact_number}-->
        </td>
		<td>
        	<!--{$iha[iha].householder_name}-->
        </td>
		<td>
        	<!--{$iha[iha].staff_name}-->
        </td>
		<td onclick="showrate('<!--{$basePath}-->iha/index/showrate/uuid/<!--{$iha[iha].uuid}-->')" style="cursor: pointer;">
        	<!--{$iha[iha].criteria_rate}-->
        </td>
        <td>
        	<img src="<!--{$basePath}-->images/credit-card_<!--{$iha[iha].card_status}-->.png" title="<!--{$iha[iha].card_status_info}-->" alt="<!--{$iha[iha].card_status_info}-->" />
        </td>
		<td>
        	<a href="<!--{$basePath}-->iha/cover/add/action/edit/uuid/<!--{$iha[iha].uuid}-->/para_page/<!--{$para_page}-->/opener/index" onclick="set_session('<!--{$iha[iha].uuid}-->');">编辑首页</a>
        	<a href="<!--{$basePath}-->iha/index/add/uuid/<!--{$iha[iha].uuid}-->/para_page/<!--{$para_page}-->/opener/index"  onclick="set_session('<!--{$iha[iha].uuid}-->');">编辑档案</a>
        	<a href="###" onclick="delete_iha('<!--{$basePath}-->iha/index/delete/uuid/<!--{$iha[iha].uuid}-->')">删除</a>
        </td>
	</tr>
	<!--{sectionelse}-->
	<tr>
		<td colspan="12">
        	暂时没有符合条件的数据
        </td>
	</tr>
	<!--{/section}-->
    <tr>
		<td colspan="12">
        <img src="<!--{$basePath}-->images/status_online.png" />选中状态
		&nbsp;
		<img src="<!--{$basePath}-->images/status_offline.png" />未选中状态&nbsp;
        <img src="<!--{$basePath}-->images/credit-card_1.png" />已发卡&nbsp;
        <img src="<!--{$basePath}-->images/credit-card_2.png" />未发卡&nbsp;
        <img src="<!--{$basePath}-->images/credit-card_3.png" />补卡&nbsp;
        
    </td>
	</tr>
	<tr>
		<td colspan="12">
        	<span class="flag status_6">死亡</span> <span class="flag status_4">临时</span> <span class="flag status_8">转出</span>&nbsp;<!--{$pager}-->
        </td>
	</tr>
	</tbody>
</table>
<div id="rate_popup" style="display:none;">
</div>
<input type="hidden" id="error_message" name="error_message" value="<!--{$error_message}-->" />
</body>
</html>
<script>
function delete_iha(durl)
{
    if(confirm("确定要删除该档案吗?"))
    {
        $.get(durl,function(res){
            alert(res);
            ajaxpage("<!--{$basePath}-->iha/index/list/page/1");
        })
    }
}
</script>