<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>内部使用</title>
<link rel="stylesheet" type="text/css" id="css" href="<!--{$baseUrl}-->views/styles/admincp.css">
<link rel="stylesheet" type="text/css" id="css" href="<!--{$baseUrl}-->views/styles/tabs.css">
<style>
	table
	{
		background:#ffffff;
	}

</style>
<!--引入jquery-->
<script src="<!--{$baseUrl}-->views/js/jquery-1.4.2.js"></script>
<script src="<!--{$basePath}-->/views/js/calendar/WdatePicker.js" type="text/javascript"></script>   <!--时间控件的加载!-->
<link href="<!--{$basePath}-->/views/js/calendar/skin/default/datePicker.css" rel="stylesheet" type="text/css" />
</head>
<body>
<table border="0" width="100%" cellspacing="0">
	<thead>
    <tr class="headbg">
        <th colspan="5">
        	根据身份证号移除户主属性确认界面
        </th>
	</tr>
	</thead>
	<tbody id="iha">
		<tr>
		<td style="width:10%">姓名</td><td style="width:20%">档案号</td><td style="width:20%">身份证号</td><td style="width:30%">地址</td><td style="width:10%">操作</td>
		</tr>
		<!--{section name=iha loop=$iha}-->
		<tr>
		<td><!--{$iha[iha].name}--></td><td><!--{$iha[iha].standard_code}--></td><td><!--{$iha[iha].identity_number}--></td><td><!--{$iha[iha].address}--></td><td><a href="<!--{$basePath}-->iha/index/moveupdate/id/<!--{$iha[iha].identity_number}-->">确认修改</a></td>
		</tr>
		<!--{sectionelse}-->
		<tr>
		<td colspan="5">数据库中没有此人信息&nbsp;<a href="<!--{$basePath}-->iha/index/movehouseder"><font color="Red"><b>返回</b></font></a></td>
		</tr>
		<!--{/section}-->
	</tbody>
</table>
</body>
</html>